<alk-array-form-table resourceName="volumes"
                      [noRowSeparator]="false"
                      (add)="addVolume()"
                      [rows]="form.controls">
  <ng-container *alkArrayFormTableHeader>
    <th>{{ 'name' | translate }}</th>
    <th>{{ 'type' | translate }}</th>
    <th>{{ 'pod_spec_form.related_attrs' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *alkArrayFormTableRow="let control">
    <td>
      {{ control.value.name }}
    </td>

    <td>
      <ng-container *ngIf="allowEdit(control.value)">
        {{ ('pod_spec_form.' + getVolumeType(control.value)) | translate }}
      </ng-container>

      <ng-container *ngIf="!allowEdit(control.value)">
        {{ getVolumeType(control.value) }}
      </ng-container>
    </td>

    <td>
      <ng-container [ngSwitch]="getVolumeType(control.value)">
        <pre *ngSwitchDefault
             auiCodeColorize="yaml"
             [innerHTML]="getYaml(getVolumeAttributes(control.value))"></pre>
      </ng-container>
    </td>

  </ng-container>

  <!-- Row controls -->
  <ng-container *alkArrayFormTableRowControl="let control; let index = index">
    <aui-icon *ngIf="allowEdit(control.value)"
              icon="basic:pencil_s"
              (click)="editVolume(index)">
    </aui-icon>

    <aui-icon icon="basic:minus_circle"
              (click)="remove(index)">
    </aui-icon>
  </ng-container>
</alk-array-form-table>
