<div class="terminal-toolbar"
     [class.terminal-toolbar--dark-theme]="shell.isDarkTheme">
  <alk-breadcrumb class="terminal-toolbar__title">
    <ng-container *ngIf="params.resourceKind !== 'Pod'">
      <div *alkBreadcrumbItem>{{ params.resourceKind }}: {{ params.resourceName }}</div>
    </ng-container>
    <div *alkBreadcrumbItem>{{ params.pod }}</div>
    <div *alkBreadcrumbItem>{{ params.container }}</div>
  </alk-breadcrumb>
  <div class="terminal-toolbar__spacer"></div>

  <alk-shell-button class="terminal-toolbar__control-button" [params]="params">
  </alk-shell-button>

  <div class="terminal-toolbar__control-button"
       (click)="shell.toogleTheme()">
    <ng-container *ngIf="!shell.isDarkTheme">
      <div class="terminal-toolbar__control-button-icon">
        <aui-icon icon="sun"></aui-icon>
      </div>
      {{ 'light_theme' | translate }}
    </ng-container>

    <ng-container *ngIf="shell.isDarkTheme">
      <div class="terminal-toolbar__control-button-icon">
        <aui-icon icon="moon"></aui-icon>
      </div>
      {{ 'dark_theme' | translate }}
    </ng-container>
  </div>

  <div class="terminal-toolbar__control-button"
       (click)="toggleFindPanel()">
    <div class="terminal-toolbar__control-button-icon">
      <aui-icon icon="search_s"></aui-icon>
    </div>
    {{ 'find' | translate }}
  </div>

  <div @zoomInOut
       (@zoomInOut.done)="focusSearchInput()"
       class="terminal-search-bar"
       *ngIf="isFindbarActive">
    <aui-input-group size='medium'>
      <input [(ngModel)]="searchQuery"
             (keydown.escape)="isFindbarActive = false"
             (keydown.enter)="findNext(searchQuery)"
             aui-input
             size='medium'
             type='text' />
      <div auiInputAddonAfter>
        <button aui-button
                size="mini"
                (click)="findPrevious(searchQuery)">
          <aui-icon icon="angle_left"></aui-icon>
        </button>
        <button aui-button
                size="mini"
                (click)="findNext(searchQuery)">
          <aui-icon icon="angle_right"></aui-icon>
        </button>
      </div>
    </aui-input-group>

  </div>
</div>
<alk-shell #shell
           [namespace]="params.namespace"
           [podName]="params.pod"
           [containerName]="params.container">
</alk-shell>
