<mat-progress-bar [class.alk-invisible]="!connecting"
                  [mode]="'indeterminate'">
</mat-progress-bar>

<div #anchor
     class="xterm-anchor"
     [class.xterm-anchor--dark-theme]="isDarkTheme">
</div>

<div class="status-indicator"
     [auiTooltip]="statusIndicatorTooltip"
     auiTooltipType="info"
     auiTooltipPosition="start"
     [ngClass]="'status-indicator--' + connectionStatus">
  <aui-icon [icon]="connectionStatus !== 'connecting' ? 'basic:cloud_signal_s' : 'spinner'">
  </aui-icon>
</div>

<ng-template #statusIndicatorTooltip>
  <div [ngSwitch]="connectionStatus"
       class="status-indicator-tooltip">
    <ng-container *ngSwitchCase="'connecting'">
      {{ 'exec_connecting' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'goodConnection'">
      <alk-status-icon status="success"></alk-status-icon>
      {{ 'exec_good_connection' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'badConnection'">
      <alk-status-icon status="warning"></alk-status-icon>
      {{ 'exec_high_latecency_warning' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'disconnected'">
      <alk-status-icon status="error"></alk-status-icon>
      {{ 'exec_disconnected' | translate }}
      <a href="javascript:location.reload()">{{ 'exec_reconnect' | translate }}</a>
    </ng-container>
  </div>
</ng-template>
