<svg [attr.width]="size"
     [attr.height]="size">
  <svg:g [attr.transform]="transform">
    <!-- Arcs -->
    <svg:g *ngFor="let arc of arcs; trackBy: arcTrackByFn; index as i">
      <svg:path class="full-arc-path"
                [attr.d]="arc.backgroundArcPath">
      </svg:path>
      <svg:path [style.color]="arc.color"
                [auiTooltip]="tooltipTemplate"
                [auiTooltipContext]="{ index: i }"
                class="fraction-arc-path"
                [attr.fill]="arc.color"
                [style.opacity]="arc.fractionArcOpacity"
                [attr.d]="arc.fractionArcPath">
      </svg:path>
      <svg:text *ngFor="let label of arc.labels; index as labelIndex"
                class="fraction-label-text"
                [attr.dx]="arc.labelCoord.dx - 45 * labelIndex"
                [attr.dy]="arc.labelCoord.dy"
                text-anchor="end">
        {{ label }}
      </svg:text>
    </svg:g>

    <!-- Center text -->
    <svg:g class="center-text"
           dy="-5">
      <svg:text text-anchor="middle"
                class="center-text__main">
        {{ capacity | alkUnitFormatter:resourceType }}
      </svg:text>
      <svg:text text-anchor="middle"
                dy="15"
                class="center-text__sub">
        {{ 'node.capacity' | translate }}
      </svg:text>
    </svg:g>
  </svg:g>
</svg>

<div class="node-pie-chart-tooltip"></div>

<ng-template #tooltipTemplate
             let-index="index">
  <ng-container [ngSwitch]="index">
    <ng-container *ngSwitchCase="0">
      {{ 'node.requests' | translate }}: {{ requests | alkUnitFormatter:resourceType }} ({{ requestsFraction | number:'1.2-2' }}%)
    </ng-container>
    <ng-container *ngSwitchCase="1">
      {{ 'node.limits' | translate }}: {{ limits | alkUnitFormatter:resourceType }} ({{ limitsFraction | number:'1.2-2' }}%)
    </ng-container>
    <ng-container *ngSwitchCase="2">
      {{ 'node.usage' | translate }}: {{ usage | alkUnitFormatter:resourceType }} ({{ usageFraction | number:'1.2-2' }}%)
    </ng-container>
  </ng-container>
</ng-template>
