<aui-layout>
  <div class="nav-header"
       *auiNavDrawerHeader>
    <div class="nav-header__logo">
      <img src="assets/icons/app-logo.svg"
           alt="Alauda">
    </div>
  </div>
  <aui-nav *auiNavDrawerContent>
    <ng-container *ngFor="let item of navConfig$ | async">

      <!-- Nav items with sub item menu -->
      <ng-container *ngIf="item.items && item.items.length">
        <aui-nav-item alkNavItemHelper
                      routerLinkActive
                      #rla="routerLinkActive"
                      [label]="item.label | translate"
                      (click)="!rla.isActive && onNavItemClick(item.path)"
                      [expanded]="isPathExpanded(item.path, rla.isActive)"
                      [active]="rla.isActive">

          <div class="nav-item-content">
            <div class="nav-item-content__icon">
              <aui-icon [icon]="item.icon"></aui-icon>
            </div>
            <div class="nav-item-content__label">
              {{ item.label | translate }}
            </div>
          </div>

          <ng-container *auiNavItemExt>
            <ng-container *ngFor="let subItem of item.items">
              <aui-nav-item alkNavItemHelper
                            [label]="subItem.label | translate"
                            routerLinkActive
                            [routerLink]="subItem.routerLink"
                            #subRla="routerLinkActive"
                            [active]="subRla.isActive">
                <div class="nav-item-content">
                  <div class="nav-item-content__icon">
                  </div>
                  <div class="nav-item-content__label">
                    {{ subItem.label | translate }}
                  </div>
                </div>
              </aui-nav-item>
            </ng-container>
          </ng-container>
        </aui-nav-item>
      </ng-container>

      <!-- Nav items without sub item menu -->
      <ng-container *ngIf="!item.items || !item.items.length">
        <aui-nav-item alkNavItemHelper
                      routerLinkActive
                      #rla="routerLinkActive"
                      [label]="item.label | translate"
                      (click)="!rla.isActive && onNavItemClick(item.path)"
                      [routerLink]="item.routerLink"
                      [active]="rla.isActive">

          <div class="nav-item-content">
            <div class="nav-item-content__icon">
              <aui-icon [icon]="item.icon"></aui-icon>
            </div>
            <div class="nav-item-content__label">
              {{ item.label | translate }}
            </div>
          </div>

        </aui-nav-item>
      </ng-container>

    </ng-container>
  </aui-nav>

  <div *auiToolbarContent
       class="layout-toolbar">
    <div fxFlex></div>

    <div class="layout-toolbar__create-button"
         (click)="showYamlCreateDialog(yamlCreateDialog)">
      <aui-icon icon="basic:plus"></aui-icon>
      {{ 'create_resource' | translate }}
    </div>
    <alk-account-menu></alk-account-menu>
  </div>
  <div *auiPageHeader
       class="layout-page-header">
    <ng-container *cdkPortalOutlet="pageHeaderContentTemplate$ | async">
    </ng-container>
    <alk-default-breadcrumb *ngIf="!(pageHeaderContentTemplate$ | async)"></alk-default-breadcrumb>
    <mat-progress-bar [class.alk-invisible]="!(hasPendingRequests | async)"
                      [mode]="'indeterminate'">
    </mat-progress-bar>
  </div>
  <div *auiPageContent
       class="layout-page-content"
       [@zoomInOut]="activatedRouteComponent"
       (@zoomInOut.start)="onPageAnimationStart()">
    <router-outlet *ngIf="initialized"
                   (activate)='activatedRouteComponent = $event'>
    </router-outlet>
  </div>
</aui-layout>

<ng-template #yamlCreateDialog>
  <aui-dialog-header>
    {{ 'create_resource_with_yaml' | translate }}
  </aui-dialog-header>

  <aui-dialog-content class="create-resource-dialog">
    <aui-code-editor [actionsConfig]="edtiorActions"
                     [options]="editorOptions"
                     [originalValue]="yamlOriginalValue"
                     [(ngModel)]="yamlInputValue"></aui-code-editor>
  </aui-dialog-content>
  <aui-dialog-footer>
    <div>
      <button aui-button="primary"
              [disabled]="yamlCreating || !yamlInputValue"
              (click)="createResource(yamlInputValue)">{{ 'create' | translate }}</button>
      <button aui-button
              auiDialogClose>{{ 'cancel' | translate }}</button>
    </div>
  </aui-dialog-footer>
</ng-template>
