:host {
  display: block;
  height: 100%;
  width: 100%;

  ::ng-deep .aui-layout-nav-drawer__content {
    overflow: auto;
  }
}

.nav-header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;

  &__logo,
  &__label {
    display: flex;
    flex: 1;
    padding: 0 8px;
  }

  &__logo {
    font-size: 20px;
    justify-content: center;
  }

  &__divider {
    width: 1px;
    height: 28px;
    opacity: 0.35;
    background: #fff;
  }
}

aui-nav-item:focus {
  outline: none;
}

.nav-item-content {
  display: flex;
  align-items: center;
  &__icon {
    display: flex;
    align-items: center;
    width: 26px;
    font-size: 16px;
  }
}

.layout-toolbar {
  display: flex;
  flex: 1;
  align-items: center;

  &__create-button {
    display: inline-flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    aui-icon {
      margin-right: 4px;
    }
  }
}

.layout-page-header {
  display: flex;
  align-items: center;
  flex: 1;

  mat-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.layout-page-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  ::ng-deep router-outlet + * {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.create-resource-dialog-title {
  &__fullscreen-button {
    cursor: pointer;
    width: 28px;
    height: 28px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.create-resource-dialog {
  &__button {
    margin-top: 4px;
  }

  ::ng-deep .aui-code-editor {
    min-height: 400px;
  }
}
