<div class="overview-chart-row">

  <div class="overview-chart-card overview-chart-card--pie">
    <div class="overview-chart-card__title">
      CPU
    </div>

    <alk-usage-pie-chart [valueRender]="cpuValueRender"
                         color="#7b6fe2"
                         [used]="(metricsUsage$ | async).cpu"
                         [total]="(overview$ | async).resourceStatus.totalCpu">
    </alk-usage-pie-chart>
  </div>

  <div class="overview-chart-card overview-chart-card--pie">
    <div class="overview-chart-card__title">
      {{ 'memory' | translate }}
    </div>

    <alk-usage-pie-chart [valueRender]="memValueRender"
                         color="#33AFE8"
                         [used]="(metricsUsage$ | async).memory"
                         [total]="(overview$ | async).resourceStatus.totalMem">
    </alk-usage-pie-chart>
  </div>

  <div class="overview-chart-col">
    <div class="overview-chart-card">
      <div class="overview-chart-card__title">{{ 'nodes' | translate }}</div>
      <alk-status-gauge-bar (statusBarClick)="onStatusBarClicked('node', $event)"
                            [statusInfo]="(overview$ | async).nodeStatus"></alk-status-gauge-bar>
    </div>

    <div class="overview-chart-card">
      <div class="overview-chart-card__title">{{ 'pods' | translate }}</div>
      <alk-status-gauge-bar (statusBarClick)="onStatusBarClicked('pod', $event)"
                            [statusInfo]="(overview$ | async).podStatus"></alk-status-gauge-bar>
    </div>
  </div>
</div>


<div class="overview-chart-row">
  <div class="overview-chart-card overview-chart-card--mini">
    <a class="overview-chart-card__number-status"
       [routerLink]="['/namespace']">{{ (overview$ | async).namespaceCount }}</a>
    <div class="overview-chart-card__title">{{ 'namespaces' | translate }}</div>
  </div>

  <div class="overview-chart-card">
    <div class="overview-chart-card__title">{{ 'deployments' | translate }}</div>
    <alk-status-gauge-bar (statusBarClick)="onStatusBarClicked('deployment', $event)"
                          [statusInfo]="(overview$ | async).deploymentStatus"></alk-status-gauge-bar>
  </div>

  <div class="overview-chart-card">
    <div class="overview-chart-card__title">{{ 'statefulsets' | translate }}</div>
    <alk-status-gauge-bar (statusBarClick)="onStatusBarClicked('statefulset', $event)"
                          [statusInfo]="(overview$ | async).statefulSetStatus"></alk-status-gauge-bar>
  </div>

  <div class="overview-chart-card">
    <div class="overview-chart-card__title">{{ 'daemonsets' | translate }}</div>
    <alk-status-gauge-bar (statusBarClick)="onStatusBarClicked('daemonset', $event)"
                          [statusInfo]="(overview$ | async).daemonSetStatus"></alk-status-gauge-bar>
  </div>

</div>

<div class="overview-chart-row">
  <div class="overview-chart-card">
    <div class="overview-chart-card__title">{{ 'events' | translate }}</div>
    <div class="overview-chart-card__scrollable-content">
      <alk-overview-event-list [events]="(overview$ | async).eventList"></alk-overview-event-list>
    </div>
  </div>
</div>
