@import '../../../shared/var';

:host {
  display: inline-flex;
  font-size: $font-size-regular;
}

.pod-controller-info {
  align-items: center;
  display: inline-flex;

  &:not(:first-child) {
    margin-left: 12px;
  }

  &__number {
    margin-left: 4px;
  }
}
