<ng-container *ngIf="podStatusToPod">
  <ng-container *ngFor="let status of POD_STATUSES">
    <div *ngIf="podStatusToPod[status].length"
         class="pod-controller-info"
         [auiTooltip]="status | lowercase | translate">

      <alk-status-icon class="pod-controller-info__icon"
                       [status]="getPodStatusIcon(status)">
      </alk-status-icon>
      <div class="pod-controller-info__number">
        {{ podStatusToPod[status].length }}
      </div>
    </div>
  </ng-container>

</ng-container>
