<aui-menu #menu>
  <aui-menu-item (click)="showUpdateLabels()">{{ 'update_labels' | translate }}</aui-menu-item>
  <aui-menu-item (click)="showUpdateAnnotations()">{{ 'update_annotations' | translate }}</aui-menu-item>
  <aui-menu-item (click)="createResourceQuota()">{{ 'namespace.create_resource_quota' | translate }}</aui-menu-item>
  <aui-menu-item (click)="createLimitRange()">{{ 'namespace.create_limit_range' | translate }}</aui-menu-item>
  <aui-menu-item (click)="doDelete()"
                 type="danger">
    {{ 'delete' | translate }}
  </aui-menu-item>
</aui-menu>
