<div class="namespace-chart-row"
     fxFlex>

  <!-- 1st column -->
  <div class="namespace-chart-col"
       fxFlex="40">

    <div class="namespace-chart-card namespace-chart-card--no-padding">
      <alk-namespace-workload-pie [namespace]="namespace"></alk-namespace-workload-pie>
    </div>

    <div class="namespace-chart-row">
      <div class="namespace-chart-card namespace-chart-card--mini">
        <div class="namespace-chart-card__title">{{ 'jobs' | translate }}</div>
        <a class="namespace-chart-card__number-status"
           (click)="onResourceClicked('job')">{{ namespace.jobCount }}</a>
      </div>
      <div class="namespace-chart-card namespace-chart-card--mini">
        <div class="namespace-chart-card__title">{{ 'cronjobs' | translate }}</div>
        <a class="namespace-chart-card__number-status"
           (click)="onResourceClicked('cronjob')">{{ namespace.cronJobCount }}</a>
      </div>
    </div>
  </div>

  <!-- 2nd column -->
  <div class="namespace-chart-col"
       fxFlex="30">
    <div class="namespace-chart-card">
      <div class="namespace-chart-card__title">{{ 'pods' | translate }}</div>
      <alk-status-gauge-bar (statusBarClick)="onResourceClicked('pod', $event)"
                            [statusInfo]="namespace.podStatus">
      </alk-status-gauge-bar>
    </div>

    <div class="namespace-chart-card">
      <div class="namespace-chart-card__title">{{ 'persistentvolumeclaims' | translate }}</div>
      <alk-status-gauge-bar (statusBarClick)="onResourceClicked('persistentvolumeclaim', $event)"
                            [labelRender]="pvcStatusLabelRender"
                            [statusInfo]="namespace.pvcStatus">
      </alk-status-gauge-bar>
    </div>
  </div>


  <!-- 3rd column -->
  <div class="namespace-chart-col"
       fxFlex="30">

    <div class="namespace-chart-col"
         fxFlex>
      <div class="namespace-chart-card namespace-chart-card--mini-twin">
        <div class="mini-twin-container">
          <a class="namespace-chart-card__number-status"
             (click)="onResourceClicked('ingress')">{{ namespace.ingressCount }}</a>
          <div class="namespace-chart-card__title">{{ 'ingresses' | translate }}</div>
        </div>
        <div class="namespace-chart-card__divider"></div>
        <div class="mini-twin-container">
          <a class="namespace-chart-card__number-status"
             (click)="onResourceClicked('service')">{{ namespace.serviceCount }}</a>
          <div class="namespace-chart-card__title">{{ 'services' | translate }}</div>
        </div>
      </div>

      <div class="namespace-chart-card namespace-chart-card--mini-twin">
        <div class="mini-twin-container">
          <a class="namespace-chart-card__number-status"
             (click)="onResourceClicked('configmap')">{{ namespace.configMapCount }}</a>
          <div class="namespace-chart-card__title">{{ 'configmaps' | translate }}</div>
        </div>
        <div class="namespace-chart-card__divider"></div>
        <div class="mini-twin-container">
          <a class="namespace-chart-card__number-status"
             (click)="onResourceClicked('secret')">{{ namespace.secretCount }}</a>
          <div class="namespace-chart-card__title">{{ 'secrets' | translate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
