<aui-dialog-header [closeable]="true">
  {{ 'update' | translate }} {{ detail?.objectMeta.name | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="alk-basic-info-row">
    <div class="alk-basic-info-field">
      <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
      <div class="alk-basic-info-field__content">{{ detail?.objectMeta.name }}</div>
    </div>
  </div>

  <div class="alk-basic-info-row">
    <div class="alk-basic-info-field">
      <div class="alk-basic-info-field__label">{{ 'display_name' | translate }}</div>
      <div class="alk-basic-info-field__content">
        <input aui-input style="width: 80%;" type="text" [(ngModel)]="data.displayName">
      </div>
    </div>
  </div>

  <div class="alk-basic-info-row">
    <div class="alk-basic-info-field">
      <div class="alk-basic-info-field__label">{{ 'description' | translate }}</div>
      <div class="alk-basic-info-field__content">
        <textarea aui-input cols="53" rows="5" [(ngModel)]="data.description"></textarea>
      </div>
    </div>
  </div>

  <div class="alk-basic-info-field">
    <div class="alk-basic-info-field__label">{{ 'administrator.role_type' | translate }}</div>
    <div class="alk-basic-info-field__content">
      {{ 'administrator.' + detail?.data.kind | translate }}
    </div>
  </div>

  <div class="alk-basic-info-field" *ngIf="detail?.objectMeta.namespace" >
    <div class="alk-basic-info-field__label">{{ 'namespace' | translate }}</div>
    <div class="alk-basic-info-field__content">
      <a [routerLink]="['/namespace/detail', { name: detail?.objectMeta.namespace }]">{{ detail?.objectMeta.namespace }}</a>
    </div>
  </div>
</aui-dialog-content>

<aui-dialog-footer>
  <div class="button-group">
    <button aui-button="primary" (click)="confirm()">{{ 'confirm' | translate }}</button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
