@import '../../../shared/_var.scss';

.section-title__element {
  color: $color-text-main;
  font-weight: bold;
  font-size: $font-size-large;
}

:host ::ng-deep {
  .alk-basic-info-container {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    .alk-basic-info-row .alk-basic-info-field {
      width: auto;
      max-width: initial;
      .alk-basic-info-field__label {
        justify-content: flex-end;
        flex: 1;
        margin-right: 0;
        padding-right: 8px;
      }
      .alk-basic-info-field__content {
        flex: 8;
      }
    }
  }
  .aui-form-item__content {
    flex-wrap: wrap;
  }
  .aui-form-item {
    width: 90%;
    .aui-form-item__label-wrapper {
      flex: 1;
    }
    .aui-form-item__container {
      flex: 8;
    }
  }
  .aui-radio-group {
    aui-radio {
      height: 32px;
      display: flex;
      align-items: center;
    }
  }
  aui-checkbox {
    height: 32px;
    width: 33%;
    display: flex;
    align-items: center;
    .aui-checkbox {
      display: flex;
      flex-wrap: nowrap;
    }
    .aui-checkbox__content {
      max-width: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.button-group {
  border-top: $border-width $border-style #eee;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 5%;
}
