<aui-menu #menu>
  <aui-menu-item (click)="update(updateTemplateRef)">{{ 'update' | translate }}</aui-menu-item>
  <aui-menu-item (click)="delete()"
                 type="danger">
    {{ 'delete' | translate }}
  </aui-menu-item>
</aui-menu>

<ng-template #updateTemplateRef
             let-detail>
  <alk-role-update-dialog [detail]="detail"
                          (confirmed)="onConfirm($event)"></alk-role-update-dialog>
</ng-template>
