<aui-card>
  <div auiCardHeader
       fxLayout
       class="alk-list-page-toolbar">
    <button aui-button="primary"
            routerLink="/administrator/roles/create">{{ 'administrator.create_role' | translate }}</button>
    <div fxFlex></div>
    <alk-search-input [searching]="searching"
                      [value]="search$ | async"
                      (search)="searchByName($event)"></alk-search-input>
  </div>

  <aui-table auiSort
             [trackBy]="trackByFn"
             [active]="(sort$ | async).active"
             [direction]="(sort$ | async).direction"
             [dataSource]="list$"
             (sortChange)="sortData($event)">
    <ng-container *ngFor="let column of columnDefs">

      <!-- Non sortable only has a simple difference that it does not wrap the cellDef with aui-sort-header component -->
      <ng-container [auiTableColumnDef]="column.name">
        <ng-container *ngIf="column.sortable">
          <aui-table-header-cell *auiTableHeaderCellDef
                                 aui-sort-header>
            {{ column.label | translate }}
          </aui-table-header-cell>
        </ng-container>

        <ng-container *ngIf="!column.sortable">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ column.label | translate }}
          </aui-table-header-cell>
        </ng-container>

        <aui-table-cell *auiTableCellDef="let item">
          <ng-container [ngSwitch]="column.name">
            <!-- Name columns also contains labels -->
            <div *ngSwitchCase="'name'">
              <a [routerLink]="getDetailRoutes(item)">{{ getCellValue(item, column.name) }}</a>
            </div>

            <div *ngSwitchCase="'kind'">
              {{ 'administrator.' + getCellValue(item, 'kind') | translate }}
            </div>

            <alk-time *ngSwitchCase="'creationTimestamp'"
                      [timestamp]="getCellValue(item, column.name)">
            </alk-time>
            
            <ng-container *ngSwitchDefault>
              {{ getCellValue(item, column.name) || '-' }}
            </ng-container>

            <div *ngSwitchCase="'action'"
                 [auiDropdown]="menu.menu"
                 auiDropdownActive="action-button__active"
                 class="action-button">
              <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
            </div>
            <alk-role-action-menu #menu
                                  (updated)="onUpdate(item)"
                                  (deleted)="onUpdate(item)"
                                  [resource]="item">
            </alk-role-action-menu>
          </ng-container>
        </aui-table-cell>
      </ng-container>
    </ng-container>

    <aui-table-header-row *auiTableHeaderRowDef="columns$ | async"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns$ | async;"></aui-table-row>
  </aui-table>
  <alk-zero-state *ngIf="showZeroState"
                  resourceName="role"></alk-zero-state>

  <aui-paginator [length]="(listMeta$ | async)?.totalItems"
                 [pageSize]="(pageParams$ | async)?.pageSize"
                 [pageIndex]="(pageParams$ | async)?.pageIndex"
                 (page)="onPageEvent($event)"
                 [pageSizeOptions]="[10, 20, 50, 100]">
  </aui-paginator>
</aui-card>
