<aui-table [dataSource]="detail?.data.rules">
  <ng-container *ngFor="let columnDef of columnDefs">

    <ng-container [auiTableColumnDef]="columnDef.name">
      <ng-container>
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ columnDef.label | translate }}
        </aui-table-header-cell>
      </ng-container>

      <aui-table-cell *auiTableCellDef="let item">
        <ng-container [ngSwitch]="columnDef.name">

          <!-- Name columns also contains labels -->
          <div *ngSwitchCase="'verbs'">
            {{ item.verbs.join(', ') }}
          </div>

          <div *ngSwitchCase="'resources'">
            <span *ngFor="let resource of item.resources; let isLast = last;"
                  style="display: inline-block;">{{ resource | translate }}
              <span *ngIf="!isLast">,&nbsp;</span>
            </span>
          </div>

          <div *ngSwitchCase="'apiGroups'">
            {{ item.apiGroups.join(', ') }}
          </div>

          <ng-container *ngSwitchDefault>
            {{ item[columnDef.name] || '-' }}
          </ng-container>

          <div *ngSwitchCase="'action'"
               [auiDropdown]="menu"
               auiDropdownActive="action-button__active"
               class="action-button">
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>
          <aui-menu #menu>
            <aui-menu-item (click)="updateRule(item)">{{ 'update' | translate }}</aui-menu-item>
            <aui-menu-item (click)="deleteRule(item)"
                           type="danger">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </aui-menu>

        </ng-container>
      </aui-table-cell>
    </ng-container>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>

<alk-zero-state *ngIf="showZeroState"
                resourceName="permissions"></alk-zero-state>
