<alk-tags-label *ngIf="taintList && taintList.length > 0"
                [tagList]="taintList"></alk-tags-label>
<div *ngIf="!taintList || taintList.length === 0">-</div>
<alk-node-taint-button (updated)="updated.emit($event)"
                       [resource]="resource">
</alk-node-taint-button>
