<table class="alk-form-table alk-form-table--no-row-control">
  <thead>
    <tr>
      <th width="40%">{{ 'path' | translate }}</th>
      <th width="40%">{{ 'service' | translate }}</th>
      <th width="20%">{{ 'port' | translate }}</th>
    </tr>
  </thead>

  <ng-container *ngIf="!isEmpty; else emptyTemplate">
    <tr *ngFor="let path of ruleValue.paths">
      <td>
        {{ path.path }}
      </td>

      <td>
        <a [routerLink]="getServiceResource(path.backend.serviceName) | alkDetailRoutes">
          {{ path.backend.serviceName }}
        </a>
      </td>

      <td>
        {{ path.backend.servicePort }}
      </td>
    </tr>
  </ng-container>

  <ng-template #emptyTemplate>
    <tr>
      <td colspan="100">
        <alk-zero-state resourceName="path">
        </alk-zero-state>
      </td>
    </tr>
  </ng-template>
</table>
