<aui-dialog-header>
  {{ 'update' | translate }} {{ 'env' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <alk-env-form [namespace]="namespace"
                [(ngModel)]="env">
  </alk-env-form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary"
            (click)="onConfirm()">{{ 'confirm' | translate }}</button>
    <button aui-button
            auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
