<aui-card>
  <div auiCardHeader
       fxLayout
       class="alk-list-page-toolbar">
    <button aui-button="primary"
            (click)="showAddNodeDialog()">
      {{ 'node.add_node' | translate }}
    </button>
    <div fxFlex></div>
    <alk-search-input [searching]="searching"
                      [value]="search$ | async"
                      (search)="searchByName($event)">
    </alk-search-input>
  </div>

  <aui-table auiSort
             [trackBy]="trackByFn"
             [active]="(sort$ | async).active"
             [direction]="(sort$ | async).direction"
             [dataSource]="list$"
             (sortChange)="sortData($event)">
    <ng-container *ngFor="let column of columnDefs">

      <!-- Non sortable only has a simple difference that it does not wrap the cellDef with aui-sort-header component -->
      <ng-container [auiTableColumnDef]="column.name">
        <ng-container *ngIf="column.sortable">
          <aui-table-header-cell *auiTableHeaderCellDef
                                 aui-sort-header
                                 [start]="column.sortStart">
            {{ column.label | translate }}
          </aui-table-header-cell>
        </ng-container>

        <ng-container *ngIf="!column.sortable">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ column.label | translate }}
          </aui-table-header-cell>
        </ng-container>

        <aui-table-cell *auiTableCellDef="let item">
          <ng-container [ngSwitch]="column.name">

            <alk-node-status *ngSwitchCase="'status'"
                             [ready]="item.ready">
            </alk-node-status>

            <div *ngSwitchCase="'node_addresses'"
                 class="node-list-addresses">
              <div *ngFor="let address of item.addresses"
                   class="node-list-addresses__address">
                {{ address.type }}: {{ address.address }}
              </div>
            </div>

            <!-- Name columns also contains labels -->
            <div *ngSwitchCase="'node_role'">
              <div *ngFor="let role of getCellValue(item, 'node_role')">
                {{ role | titlecase }}
              </div>
            </div>

            <div *ngSwitchCase="'metrics'"
                 class="metrics-cell-wrapper">
              <div class="metrics-cell-wrapper__label-col">
                <div>{{ 'node.cpu_allocation' | translate }}</div>
                <div>{{ 'node.mem_allocation' | translate }}</div>
              </div>

              <div class="metrics-cell-wrapper__bar-col">
                <alk-node-allocated-resources-bar [allocatedResources]="item.allocatedResources"
                                                  [metrics]="metricsServerEnabled && item.metrics"
                                                  resourceType="cpu">
                </alk-node-allocated-resources-bar>
                <alk-node-allocated-resources-bar [allocatedResources]="item.allocatedResources"
                                                  [metrics]="metricsServerEnabled && item.metrics"
                                                  resourceType="memory">
                </alk-node-allocated-resources-bar>
              </div>
            </div>

            <!-- Name columns also contains labels -->
            <div *ngSwitchCase="'name'">
              <a [routerLink]="item | alkDetailRoutes">{{ getCellValue(item, column.name) }}</a>
              <div class="tabel-cell__label-container"
                   *ngIf="getCellValue(item, 'labels')">
                <alk-tags-label [tags]="getCellValue(item, 'labels')"></alk-tags-label>
              </div>
            </div>

            <alk-time *ngSwitchCase="'creationTimestamp'"
                               [timestamp]="getCellValue(item, column.name)">
            </alk-time>

            <div *ngSwitchCase="'action'"
                 [auiDropdown]="menu.menu"
                 auiDropdownActive="action-button__active"
                 class="action-button">
              <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
            </div>

            <alk-node-action-menu #menu
                                  (updated)="onUpdate(item)"
                                  (deleted)="onUpdate(item)"
                                  [resource]="item">
            </alk-node-action-menu>

            <ng-container *ngSwitchDefault>
              {{ getCellValue(item, column.name) }}
            </ng-container>
          </ng-container>
        </aui-table-cell>
      </ng-container>
    </ng-container>

    <aui-table-header-row *auiTableHeaderRowDef="columns$ | async"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns$ | async;"></aui-table-row>
  </aui-table>

  <alk-zero-state *ngIf="showZeroState"
                  resourceName="node"></alk-zero-state>

  <aui-paginator *ngIf="(listMeta$ | async)?.totalItems > 10"
                 [length]="(listMeta$ | async)?.totalItems"
                 [pageSize]="(pageParams$ | async)?.pageSize"
                 [pageIndex]="(pageParams$ | async)?.pageIndex"
                 (page)="onPageEvent($event)"
                 [pageSizeOptions]="[10, 20, 50, 100]">
  </aui-paginator>
</aui-card>
