<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.objectMeta.name }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.schedulable' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ (detail?.unschedulable ? 'no' : 'yes') | translate }}</div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'labels' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field (updated)="updated.emit($event)"
                                     [resource]="detail">
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'annotations' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field (updated)="updated.emit($event)"
                                          [resource]="detail">
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.node_addresses' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-tags-label *ngIf="addresseList && addresseList.length > 0"
                          [tagList]="addresseList"></alk-tags-label>
          <div *ngIf="!addresseList || addresseList.length === 0">-</div>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.provider_id' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <div>{{ detail?.providerID || '-' }}</div>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'created_at' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-time [timestamp]="detail?.objectMeta.creationTimestamp" mode="absolute"></alk-time>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.taints' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-node-taint-field (updated)="updated.emit($event)"
                                         [resource]="detail">
          </alk-node-taint-field>

        </div>
      </div>
    </div>
  </div>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'node.system_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.machine_id' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.nodeInfo.machineID || '-' }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.system_uuid' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.nodeInfo.systemUUID || '-' }}</div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.boot_id' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.nodeInfo.bootID || '-' }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.kernel_version' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.nodeInfo.kernelVersion || '-' }}</div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.os_image' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.nodeInfo.osImage || '-' }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.container_runtime_version' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.nodeInfo.containerRuntimeVersion || '-' }}</div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.kubelet_version' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.nodeInfo.kubeletVersion || '-' }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.kube_proxy_version' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.nodeInfo.kubeProxyVersion || '-' }}</div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.operating_system' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.nodeInfo.operatingSystem || '-' }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node.architecture' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.nodeInfo.architecture || '-' }}</div>
      </div>
    </div>
  </div>
</aui-card>

<div class="node-detail-chart-row"
     *ngIf="detail?.allocatedResources">
  <div class="node-detail-chart-container">
    <div class="node-detail-chart-container__title">{{ 'node.cpu_allocation' | translate }}</div>
    <div class="node-detail-chart-container__wrapper">
      <alk-node-allocated-resources-pie-chart [allocatedResources]="detail?.allocatedResources"
                                              [metrics]="metricsServerEnabled && detail?.metrics"
                                              resourceType="cpu">
      </alk-node-allocated-resources-pie-chart>
    </div>
  </div>

  <div class="node-detail-chart-container">
    <div class="node-detail-chart-container__title">{{ 'node.mem_allocation' | translate }}</div>
    <div class="node-detail-chart-container__wrapper">
      <alk-node-allocated-resources-pie-chart [allocatedResources]="detail?.allocatedResources"
                                              [metrics]="metricsServerEnabled && detail?.metrics"
                                              resourceType="memory">
      </alk-node-allocated-resources-pie-chart>
    </div>
  </div>

  <div class="node-detail-chart-container">
    <div class="node-detail-chart-container__title">{{ 'pods' | translate }}</div>
    <div class="node-detail-chart-container__wrapper">
      <alk-usage-pie-chart [used]="detail?.allocatedResources.allocatedPods"
                           [total]="detail?.allocatedResources.podCapacity">
      </alk-usage-pie-chart>
    </div>
  </div>
</div>

<aui-card>
  <div auiCardHeader>{{ 'conditions' | translate }}</div>
  <alk-condition-list [conditions]="detail?.conditions">
  </alk-condition-list>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'pods' | translate }}</div>

  <alk-pod-list *ngIf="podListEndpoint"
                [showNamespace]="true"
                [endpoint]="podListEndpoint"></alk-pod-list>
</aui-card>
