<aui-menu #menu>
        <aui-menu-item (click)="goToUpdatePage()">{{ 'update' | translate }}</aui-menu-item>
        <aui-menu-item (click)="showUpdateLabels()">{{ 'update_labels' | translate }}</aui-menu-item>
        <aui-menu-item (click)="showUpdateAnnotations()">{{ 'update_annotations' | translate }}</aui-menu-item>
        <aui-menu-item (click)="showUpdateNodeTaint()">{{ 'update_node_taint' | translate }}</aui-menu-item>
        <aui-menu-item *ngIf="isSchedulable"
                       (click)="doNodeAction(NodeAction.Cordon)">{{ 'node.cordon' | translate }}</aui-menu-item>
        <aui-menu-item *ngIf="!isSchedulable"
                       (click)="doNodeAction(NodeAction.Uncordon)">{{ 'node.uncordon' | translate }}</aui-menu-item>
        <aui-menu-item (click)="doNodeAction(NodeAction.Drain)">{{ 'node.drain' | translate }}</aui-menu-item>
</aui-menu>
