<alk-usage-bar [percentage]="fraction"
               [auiTooltip]="allocatedResourceTemplate"></alk-usage-bar>
<ng-template #allocatedResourceTemplate>
  <div class="allocated-pod-tooltip">
    <div>
      {{ 'node.allocated' | translate }}: {{ allocated }} ({{ fraction | number:'1.2-2' }}%)
    </div>

    <div>
      {{ 'node.capacity' | translate }}: {{ capacity }}
    </div>
  </div>
</ng-template>
