<ng-container *alkPageHeaderContent>
  <alk-default-breadcrumb>
    <div *alkBreadcrumbItem><a [routerLink]="detailResponse$ | async | alkDetailRoutes">{{ name$ | async }}</a></div>
  </alk-default-breadcrumb>
</ng-container>
<div class="update-page-wrapper">
  <alk-resource-yaml-editor mode="update"
                            (modeChange)="onModeChange($event)"
                            [resourceDetail]="detailResponse$ | async">
  </alk-resource-yaml-editor>
</div>
