<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.objectMeta.name }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'namespace' | translate }}</div>
        <div class="alk-basic-info-field__content"><a [routerLink]="['/namespace/detail', { name: detail?.objectMeta.namespace }]">{{ detail?.objectMeta.namespace }}</a></div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'labels' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field (updated)="updated.emit($event)"
                                     [resource]="detail">
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'annotations' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field (updated)="updated.emit($event)"
                                          [resource]="detail">
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'status' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-pod-status [pod]="detail"></alk-pod-status>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">IP</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.podIP || '-' }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">QoS Class</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.qosClass }}
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'node' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <a [routerLink]="getNodeResource() | alkDetailRoutes">{{ detail?.nodeName }}</a>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'creator' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <a *ngIf="controller"
             [routerLink]="controller | alkDetailRoutes">
            {{ controller.objectMeta.name }} ({{ controller.typeMeta.kind | lowercase | translate }})
          </a>
          <span *ngIf="!controller">-</span>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'created_at' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-time [timestamp]="detail?.objectMeta.creationTimestamp" mode="absolute"></alk-time>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="appConfig.metricsServerEnabled">
    <div class="alk-card-section-divider"></div>
    <alk-pod-metrics-cards [metrics]="detail?.metrics"></alk-pod-metrics-cards>
  </ng-container>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'containers' | translate }}</div>
  <alk-container-list [containers]="detail?.containers "></alk-container-list>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'conditions' | translate }}</div>
  <alk-condition-list [conditions]="detail?.conditions"
                      [kind]="'Pod'">
  </alk-condition-list>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'persistentvolumeclaims' | translate }}</div>
  <alk-ref-pvc-list [kind]="'PVC'"
                    [list]="detail?.persistentVolumeClaimList?.items">
  </alk-ref-pvc-list>
</aui-card>


<aui-card>
  <div auiCardHeader>{{ 'services' | translate }}</div>

  <alk-ref-service-list [kind]="'service'"
                        [list]="detail?.serviceList?.services">
  </alk-ref-service-list>
</aui-card>
