<form [formGroup]="form">
  <div class="input-groups-wrapper"
       *ngFor="let type of AVAILABLE_RESOURCE_TYPES">
    <div class="input-groups-label">{{ type | translate }}</div>

    <aui-input-group formGroupName="requests">
      <div auiInputAddonBefore
           class="addon-label">{{ 'pod_spec_form.requests' | translate }}</div>
      <input aui-input
             auiFormItemControl
             [formControlName]="type">
    </aui-input-group>

    <span class="requests-limit-separator"></span>

    <aui-input-group formGroupName="limits">
      <div auiInputAddonBefore
           class="addon-label">{{ 'pod_spec_form.limits' | translate }}</div>
      <input aui-input
             auiFormItemControl
             [formControlName]="type">
    </aui-input-group>

  </div>
</form>
