@import '../../var';
@import '../../mixins';

$border-radius: 2px;

:host {
  width: 100%;

  ::ng-deep {
    .shrink-list-total-item-number {
      color: $color-primary;
      padding: 2px 4px;
      margin: 0 1px;
    }

    .shrink-list__full-content-toggle {
      &:hover .shrink-list-total-item-number {
        background-color: #e5f5fc;
      }
    }
  }
}

.shrink-list {
  display: flex;
  flex-flow: column;
  align-items: start;
  &__item {
    @include text-overflow();
    max-width: 100%;
    padding: 0 4px;
    cursor: pointer;
    &:hover {
      background-color: #f2f2f2;
    }
  }
  &__full-content-toggle {
    padding: 0 4px;
    font-size: 12px;
    color: #666;
    margin-top: 2px;
    display: inline-block;
    cursor: pointer;
  }
}
