<div class="shrink-list">
  <div *ngIf="!list || list.length === 0">-</div>
  <div *ngIf="list && list.length > 0"
       [title]="list[0]"
       class="shrink-list__item"
       auiTooltipPosition="start"
       [auiTooltipCopy]>{{ list[0] }}</div>
  <div *ngIf="list && list.length === 2"
       class="shrink-list__item"
       auiTooltipPosition="start"
       [title]="list[1]"
       [auiTooltipCopy]>{{ list[1] }}</div>
  <div *ngIf="list && list.length > 2"
       [auiTooltip]="tooltipTemplate"
       auiTooltipType="info"
       [innerHTML]="'shrink_list_total_item' | translate: { total: list.length }"
       class="shrink-list__full-content-toggle">
  </div>

  <ng-template #tooltipTemplate>
    <div class="shrink-list shrink-list-tooltip shrink-list__item"
         [auiTooltipCopy]
         auiTooltipPosition="start"
         *ngFor="let item of list"
         [attr.title]="item">
      {{ item }}
    </div>
  </ng-template>
</div>
