<form [formGroup]="form"
      auiForm
      auiFormLabelWidth="150px"
      [auiFormEmptyAddon]="true">
  <aui-card>
    <div auiCardHeader>{{ (updateMode ? 'update' : 'create' ) | translate }} {{ 'limitrange' | translate }}</div>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'namespace' | translate }}
      </label>
      <div>{{ namespace }}</div>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>
        {{ 'name' | translate }}
      </label>
      <input auiFormItemControl
             aui-input
             (blur)="onBlur()"
             formControlName="name">
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>
        {{ 'labels' | translate }}
      </label>

      <alk-key-value-form-table auiFormItemControl
                                (blur)="onBlur()"
                                formControlName="labels">
      </alk-key-value-form-table>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>
        {{ 'annotations' | translate }}
      </label>

      <alk-key-value-form-table auiFormItemControl
                                (blur)="onBlur()"
                                formControlName="annotations">
      </alk-key-value-form-table>
    </aui-form-item>


    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel>
        {{ 'limits' | translate }}
      </label>

      <alk-namespace-limit-range-item-array-form auiFormItemControl
                                                 (blur)="onBlur()"
                                                 formControlName="limits">
      </alk-namespace-limit-range-item-array-form>
    </aui-form-item>

  </aui-card>
</form>
