<aui-table [dataSource]="endpoints">

  <ng-container [auiTableColumnDef]="'host'">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'host' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let endpoint">
      <ng-container>{{ endpoint.host }}</ng-container>
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="'ports'">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'ports' | translate }} ({{ 'name' | translate }}, {{ 'port' | translate }}, {{ 'protocol' | translate }})
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let endpoint">
      <div *ngFor="let port of endpoint.ports">
        <ng-container>{{ port.name || '-' }}, {{ port.port }}, {{ port.protocol }}</ng-container>
      </div>
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="'node'">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'node' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let endpoint">
      <ng-container>{{ endpoint.nodeName || '-' }}</ng-container>
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="'ready'">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'ready' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let endpoint">
      <ng-container>{{ endpoint.ready }}</ng-container>
    </aui-table-cell>
  </ng-container>


  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>
<alk-zero-state *ngIf="showZeroState"
                resourceName="endpoints">
</alk-zero-state>
