<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.objectMeta.name }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'namespace' | translate }}</div>
        <div class="alk-basic-info-field__content"><a [routerLink]="['/namespace/detail', { name: detail?.objectMeta.namespace }]">{{ detail?.objectMeta.namespace }}</a></div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'labels' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field (updated)="updated.emit($event)"
                                     [resource]="detail">
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'annotations' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field (updated)="updated.emit($event)"
                                          [resource]="detail">
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'selectors' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-tags-label *ngIf="detail?.selector"
                          [tags]="detail?.selector"></alk-tags-label>
          <ng-container *ngIf="!detail?.selector">-</ng-container>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'service.session_affinity' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.sessionAffinity }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'type' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.type }}
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'cluster_ip' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.clusterIP }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'internal_endpoints' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-internal-endpoint *ngIf="detail && detail?.internalEndpoint"
                                 [endpoints]="[detail?.internalEndpoint]">
          </alk-internal-endpoint>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'external_endpoints' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-external-endpoint *ngIf="detail"
                                 [endpoints]="detail?.externalEndpoints || []">
          </alk-external-endpoint>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'created_at' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-time [timestamp]="detail?.objectMeta.creationTimestamp" mode="absolute"></alk-time>
        </div>
      </div>
    </div>

  </div>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'endpoints' | translate }}</div>

  <alk-endpoint-list [endpoints]="detail?.endpointList?.endpoints">
  </alk-endpoint-list>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'pods' | translate }}</div>

  <alk-pod-list *ngIf="podListEndpoint"
                [endpoint]="podListEndpoint"></alk-pod-list>
</aui-card>
