@import '../../mixins';
@import '../../var';

.plain-container {
  @include text-overflow();
  display: inline-block;

  &__label {
    @include labelContainer();
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
  border-radius: $border-radius;
  margin-right: 4px;
}
