<div class="workload-pie-chart">
  <svg class="workload-pie-chart__graph"
       [attr.width]="width"
       [attr.height]="height">
    <svg:g [attr.transform]="transform">
      <!-- Texts and Links -->
      <svg:g class="workload-pie-chart__arc-path"
             *ngFor="let arc of arcs; trackBy: trackByFn;"
             [auiTooltip]="statusTooltip"
             auiTooltipActive="active"
             (click)="onArcClicked(arc)"
             [auiTooltipContext]="{ arc: arc }">

        <svg:path [attr.d]="arc.path"
                  [attr.fill]="arc.color"
                  class="arc-path">
        </svg:path>
      </svg:g>
    </svg:g>
  </svg>
</div>

<div class="workload-pie-legend-container">
  <div class="workload-pie-legend"
       *ngFor="let legend of legends; trackBy: trackByFn">
    <div class="workload-pie-legend__type-indicator"
         [style.backgroundColor]="legend.color"></div>
    <div class="workload-pie-legend__type">{{ legend.type | translate }}:</div>
    <div class="workload-pie-legend__spacer"></div>
    <a class="workload-pie-legend__count"
       [routerLink]="legend.routerLink">{{ legend.status.total }}</a>
  </div>
</div>

<ng-template #statusTooltip
             let-arc="arc">
  <div class="status-gauge-tooltip">
    <div *ngIf="arc.status.total === 0 || !arc.type"
         class="no-data">{{ 'no_data_hint' | translate }}</div>

    <alk-status-tooltip *ngIf="arc.status.total > 0 && arc.type"
                        [statusInfo]="arc.status"
                        [type]="arc.type">
    </alk-status-tooltip>
  </div>
</ng-template>
