<form auiForm
      auiFormLabelWidth="50px"
      [auiFormEmptyAddon]="false">
  <alk-array-form-table [noRowSeparator]="true"
                        (add)="add(form.length)"
                        (remove)="remove($event)"
                        [rows]="form.controls">
    <!-- Input row -->
    <ng-container *alkArrayFormTableRow="let control">
      <td>
        <div class="key-value-form-item-group">
          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'key' | translate }}
            </label>
            <input (blur)="onBlur()"
                   maxlength="63"
                   auiFormItemControl
                   aui-input
                   required
                   [formControl]="control.controls[0]">

            <div auiFormItemError>
              <ng-container *ngIf="control.errors?.duplicateKey">
                {{ 'duplicate_key_error_message' | translate: {key: control?.errors?.duplicateKey} }}
              </ng-container>

              <ng-container *ngIf="control.errors?.keyIsMissing">
                {{ 'key_is_missing_error_message' | translate }}
              </ng-container>
            </div>

          </aui-form-item>

          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'value' | translate }}
            </label>
            <textarea auiFormItemControl
                      aui-input
                      [rows]="getTextareaRows(control.controls[1].value)"
                      [formControl]="control.controls[1]"
                      (blur)="onBlur()">
            </textarea>
            <!-- <aui-code-editor [actionsConfig]="editorActions"
                             auiFormItemControl
                             [formControl]="control.controls[1]">
            </aui-code-editor> -->
          </aui-form-item>
        </div>
      </td>
    </ng-container>

    <!-- Row controls -->
    <ng-container *alkArrayFormTableFooter>
      <button aui-button="primary"
              size="mini"
              [plain]="true"
              (click)="add()">
        <aui-icon icon="basic:add_circle">
        </aui-icon>
        {{ 'add' | translate }}
      </button>
      <button aui-button
              size="mini"
              [plain]="true"
              (click)="fileUploadInput.click()">
        <aui-icon icon="basic:add_circle">
        </aui-icon>
        {{ 'import' | translate }}
      </button>
    </ng-container>
  </alk-array-form-table>
</form>

<input #fileUploadInput
       hidden
       (change)="onImport($event)"
       type="file"
       multiple
       name="files[]" />
