@import '../../../shared/var';

:host {
  cursor: pointer;
  display: inline-flex;
  align-items: stretch;
  justify-content: stretch;
  flex: 1;
  width: 100%;
  height: 100%;
  max-width: 160px;
}

.pod-controller-status {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: wrap-reverse;

  &--no-tooltip {
    cursor: default;
  }
}

.pod-controller-status-label {
  font-size: $font-size-small;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin: 0 4px;
  order: 2;
}

.pod-controller-status-gauge {
  display: flex;
  flex: 1 1 100px;
  align-items: stretch;
  overflow: hidden;
  height: 8px;
  background-color: #eeeeee;

  &__item {
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 1px;
    }

    &--Succeeded {
      background-color: $color-success;
    }

    &--Running {
      background-color: $color-running;
    }

    &--Failed {
      background-color: $color-error;
    }

    &--Pending {
      background-color: $color-primary;
    }
  }
}

.pod-controller-info-tooltip {
  padding: 4px;
  font-size: 12px;

  &__section {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    alk-status-icon {
      font-size: 14px;
      margin-right: 8px;
    }
  }

  &__info-item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__info-item-message {
    max-width: 360px;
  }
}

.status-dot {
  width: 22px;
  height: 20px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;

  &::before {
    width: 4px;
    height: 4px;
    content: '';
    display: block;
    border-radius: 50%;
  }

  &--success::before {
    background-color: $color-success;
  }

  &--running::before {
    background-color: $color-running;
  }

  &--error::before {
    background-color: $color-error;
  }

  &--pending::before {
    background-color: $color-primary;
  }

  &--unknown::before {
    background-color: $color-info;
  }
}
