<div *ngIf="podStatusToPod"
     class="pod-controller-status"
     [class.pod-controller-status--no-tooltip]="hideTooltip"
     [auiTooltipPosition]="tooltipPosition"
     [auiTooltipDisabled]="hideTooltip"
     [auiTooltip]="podControllerInfoTemplate">
  <div class="pod-controller-status-label">
    {{running}} / {{desired}}
  </div>

  <div class="pod-controller-status-gauge">
    <ng-container *ngFor="let item of POD_STATUSES">
      <div *ngIf="podStatusToPod[item].length"
           class="pod-controller-status-gauge__item"
           [ngClass]="'pod-controller-status-gauge__item--' + item"
           [style.flex-grow]="podStatusToPod[item].length">
      </div>
    </ng-container>
    <div *ngIf="notYetCreatedPods > 0"
         class="pod-controller-status-gauge__item"
         [style.flex-grow]="notYetCreatedPods"></div>
  </div>
</div>


<ng-template #podControllerInfoTemplate>
  <div class="pod-controller-info-tooltip">
    <div *ngIf="podControllerInfo.warnings.length > 0"
         class="pod-controller-info-tooltip__section">
      <div class="pod-controller-info-tooltip__header">
        {{ 'events' | translate }}
      </div>

      <div *ngFor="let warning of podControllerInfo.warnings"
           class="pod-controller-info-tooltip__info-item">
        <div class="status-dot status-dot--error"></div>
        <div class="pod-controller-info-tooltip__info-item-message">
          {{ warning.message }}
        </div>
      </div>
    </div>

    <ng-container *ngFor="let status of POD_STATUSES">
      <div *ngIf="podStatusToPod[status].length > 0"
           class="pod-controller-info-tooltip__section">
        <div class="pod-controller-info-tooltip__header">
          <alk-status-icon [status]="getPodStatusIcon(status)"></alk-status-icon>
          {{ status | lowercase | translate }}: {{ podStatusToPod[status].length }}
        </div>

        <div *ngFor="let podInfoItem of podStatusToPod[status]"
             class="pod-controller-info-tooltip__info-item">
          <div class="status-dot"
               [ngClass]="'status-dot--' + getPodStatusIcon(status)">
          </div>

          <div class="pod-controller-info-tooltip__info-item-message">
            <div>{{ podInfoItem.name }}</div>
            <ng-container *ngIf="['Pending', 'Failed'].includes(podInfoItem.status) && podInfoItem.warnings.length > 0">
              <div *ngFor="let warning of podInfoItem.warnings">
                {{ warning.message }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
