<form [formGroup]="form"
      auiForm
      auiFormLabelWidth="150px"
      [auiFormEmptyAddon]="true">
  <aui-card>
    <div auiCardHeader>{{ 'statefulset' | translate }} - {{ 'basic' | translate }}</div>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>
        {{ 'namespace' | translate }}
      </label>

      <aui-select auiFormItemControl
                  [loading]="!(namespaces$ | async)"
                  (blur)="onBlur()"
                  required
                  formControlName="namespace">
        <aui-option *ngFor="let namespace of namespaces$ | async"
                    [value]="namespace">
          {{ namespace }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>
        {{ 'name' | translate }}
      </label>
      <input auiFormItemControl
             aui-input
             required
             (blur)="onBlur()"
             formControlName="name">
    </aui-form-item>


    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel>
        {{ 'replicas' | translate }}
      </label>

      <input auiFormItemControl
             (blur)="onBlur()"
             aui-input
             min="0"
             type="number"
             formControlName="replicas">
    </aui-form-item>


    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel>
        {{ 'service' | translate }}
      </label>

      <aui-select auiFormItemControl
                  [loading]="!(services$ | async)"
                  [filterable]="true"
                  [allowCreate]="true"
                  (blur)="onBlur()"
                  required
                  formControlName="serviceName">
        <aui-option *ngFor="let service of services$ | async"
                    [value]="service">
          {{ service }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <alk-foldable-block formGroupName="spec">
      <div class="alk-card-section-divider">{{ 'statefulset' | translate }} - {{ 'advanced' | translate }}</div>

      <ng-container [formGroup]="form">
        <aui-form-item formGroupName="metadata">
          <label auiFormItemLabel>
            {{ 'labels' | translate }}
          </label>

          <alk-key-value-form-table auiFormItemControl
                                    (blur)="onBlur()"
                                    formControlName="labels">
          </alk-key-value-form-table>
        </aui-form-item>

        <aui-form-item formGroupName="metadata">
          <label auiFormItemLabel>
            {{ 'annotations' | translate }}
          </label>

          <alk-key-value-form-table auiFormItemControl
                                    (blur)="onBlur()"
                                    formControlName="annotations">
          </alk-key-value-form-table>

        </aui-form-item>
      </ng-container>

      <aui-form-item formGroupName="selector">
        <label auiFormItemLabel>
          {{ 'selectors' | translate }}
        </label>

        <alk-key-value-form-table auiFormItemControl
                                  (blur)="onBlur()"
                                  formControlName="matchLabels">
        </alk-key-value-form-table>

      </aui-form-item>

      <alk-stateful-set-update-strategy-form auiFormItemControl
                                             (blur)="onBlur()"
                                             formControlName="updateStrategy">
      </alk-stateful-set-update-strategy-form>

    </alk-foldable-block>
  </aui-card>

  <ng-container formGroupName="spec">
    <aui-card formGroupName="template">
      <div auiCardHeader>
        {{ 'pod' | translate }}
      </div>

      <alk-pod-spec-form [namespace]="currentNamespace"
                         formControlName="spec"
                         auiFormItemControl
                         (blur)="onBlur()">
      </alk-pod-spec-form>
    </aui-card>
  </ng-container>
</form>
