<div class="usage-bar-container"
     [style.backgroundColor]="backgroundColor"
     [style.borderColor]="color">
  <div class="usage-bar-container__bar"
       [style.backgroundColor]="color"
       [style.width]="normalizedPercentage + '%'"></div>
</div>
<div class="usage-bar-percentage-number">
  {{ displayedPercentage }}%
</div>
