<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'volumes' | translate }}
    </label>

    <alk-volumes-form #volumesForm
                      auiFormItemControl
                      (blur)="onBlur()"
                      [namespace]="namespace"
                      formControlName="volumes">
    </alk-volumes-form>
  </aui-form-item>


  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'pod_spec_form.service_account_name' | translate }}
    </label>
    <input (blur)="onBlur()"
           placeholder="serviceAccountName"
           auiFormItemControl
           aui-input
           formControlName="serviceAccountName">
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'image_pull_secrets' | translate }}
    </label>
    <aui-multi-select placeholder="imagePullSecrets"
                      (blur)="onBlur()"
                      [trackFn]="pullSecretTrackFn"
                      [loading]="!(secrets$ | async)"
                      formControlName="imagePullSecrets">
      <aui-option *ngFor="let secret of secrets$ | async"
                  [value]="secret">
        {{ secret.name }}
      </aui-option>
      <aui-option-placeholder>{{ 'no_data_hint' | translate }}</aui-option-placeholder>
    </aui-multi-select>
  </aui-form-item>

</ng-container>

<div class="pod-spec-container-tabs">
  <aui-tab-group type="card"
                 [(selectedIndex)]="activeContainerIndex">
    <aui-tab *ngFor="let container of containersForm.controls; index as index; trackBy: trackByFn"
             [closeable]="containersForm.length > 1"
             (close)="removeContainer(index)"
             class="pod-spec-container-tab">
      <div *auiTabLabel
           class="pod-spec-container-tab-label"
           [class.pod-spec-container-tab-label--no-name]="!container.value.name">
        <alk-status-icon status="error"
                         *ngIf="container.invalid && container.dirty">
        </alk-status-icon>
        <span class="pod-spec-container-tab-label__content">
          {{ container.value.name || ('pod_spec_form.no_container_name_hint' | translate) }}
        </span>
      </div>

      <button *auiTabHeaderAddon
              aui-button
              (click)="addContainer()">
        {{ 'pod_spec_form.add_container' | translate }}
      </button>

      <div class="pod-spec-container-tab-content">
        <alk-container-form (blur)="onBlur()"
                            [namespace]="namespace"
                            [volumesForm]="volumesForm"
                            [formControl]="container">
        </alk-container-form>
      </div>
    </aui-tab>
  </aui-tab-group>
</div>
