@import '../../shared/var';
@import '../../shared/mixins';

:host {
  position: relative;
}

.account-menu {
  display: flex;
  align-items: center;
  color: #fff;
  &__line {
    width: 1px;
    height: 20px;
    background: #fff;
    margin: 0 4px 0 12px;
  }
  &__content {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 30px;
    &:hover {
      cursor: pointer;
    }
    &--active {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
  &__display {
    max-width: 175px;
    @include text-overflow();
  }
}
