<div class="account-menu">
  <div class="account-menu__line"></div>
  <div class="account-menu__content"
       [auiDropdown]="menu"
       auiDropdownActive="action-button__active">
    <aui-icon icon="basic:account_circle_s"
              class="account-menu__icon"></aui-icon>
    <div class="account-menu__display">
      {{ displayName$ | async }}
    </div>
  </div>
</div>

<aui-menu #menu>
  <aui-menu-item *ngIf="(auth.state$ | async)?.portalHost"
                 (click)="toPortal()">{{'platform_center' | translate}}</aui-menu-item>
  <aui-menu-item (click)="toggleLang()">{{ 'toggle_language' | translate }}</aui-menu-item>
  <aui-menu-item *ngIf="!appConfig.anounymousEnabled"
                 (click)="logOut()">{{ 'logout' | translate }}</aui-menu-item>
</aui-menu>
