<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.objectMeta.name }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'status' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.status }}</div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'labels' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field (updated)="updated.emit($event)"
                                     [resource]="detail">
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'annotations' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field (updated)="updated.emit($event)"
                                          [resource]="detail">
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'access_modes' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.accessModes }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'persistentvolume.reclaim_policy' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.reclaimPolicy }}</div>
      </div>
    </div>
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'related_pvc' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <a *ngIf="detail?.claim"
             [routerLink]="getPersistentVolumeClaimResource(detail.claim) | alkDetailRoutes">{{ detail?.claim }}</a>
          <div *ngIf="!detail?.claim">-</div>
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'capacity' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.capacity.storage }}</div>
      </div>
    </div>
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'storageclasses' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <a *ngIf="detail?.storageClass"
             [routerLink]="getStorageClassResource(detail?.storageClass) | alkDetailRoutes">{{ detail?.storageClass }}</a>
          <div *ngIf="!detail?.storageClass">-</div>
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'created_at' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-time [timestamp]="detail?.objectMeta.creationTimestamp" mode="absolute"></alk-time>
        </div>
      </div>
    </div>
  </div>
</aui-card>
