<aui-card>
  <div auiCardHeader>{{ 'users' | translate }}<span>&nbsp;({{ (list$ | async)?.length }})</span></div>
  <aui-table [dataSource]="list$">
    <ng-container [auiTableColumnDef]="columns[0]">
      <aui-table-header-cell *auiTableHeaderCellDef>{{ 'email' | translate }}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a [routerLink]="['/administrator/users/detail', { name: item.email }]">{{ item.email }}</a>
      </aui-table-cell>
    </ng-container>
    <ng-container [auiTableColumnDef]="columns[1]">
      <aui-table-header-cell *auiTableHeaderCellDef>{{ 'name' | translate }}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.name }}
      </aui-table-cell>
    </ng-container>
    <ng-container [auiTableColumnDef]="columns[2]">
      <aui-table-header-cell *auiTableHeaderCellDef>{{ 'group' | translate }}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.group || '-' }}
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
  </aui-table>
  <alk-zero-state *ngIf="zeroState$ | async" resourceName="administrator.users"></alk-zero-state>

</aui-card>