<aui-menu #menu>
        <aui-menu-item *ngIf="!resource?.isDefault"
                       (click)="setDefaultClass()">{{ 'storageclass.set_default' | translate }}</aui-menu-item>
        <aui-menu-item *ngIf="resource?.isDefault"
                       (click)="unsetDefaultClass()">{{ 'storageclass.unset_default' | translate }}</aui-menu-item>
        <aui-menu-item (click)="goToUpdatePage()">{{ 'update' | translate }}</aui-menu-item>
        <aui-menu-item (click)="showUpdateLabels()">{{ 'update_labels' | translate }}</aui-menu-item>
        <aui-menu-item (click)="showUpdateAnnotations()">{{ 'update_annotations' | translate }}</aui-menu-item>
        <aui-menu-item (click)="doDelete()"
                       type="danger">
                {{ 'delete' | translate }}
        </aui-menu-item>
</aui-menu>
