@import '../../../shared/var';

$label-height: 28px;
$label-weight: 64px;

@mixin indicator($index) {
  &[selected-index='#{$index}']::before {
    height: $label-height;
    width: $label-weight;
    left: $index * $label-weight;
    top: 0;
    content: '';
    background: $color-primary;
    transition: left 0.2s 0.2s;
    position: absolute;
    z-index: -1;
  }
}

.mode-selector {
  height: $label-height;
  display: flex;
  overflow: hidden;
  border: 1px solid $color-primary;
  border-radius: 2px;
  position: relative;

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $label-weight;
    color: $color-primary;
    transition: color 0.2s 0.1s;
    background: transparent;
    cursor: pointer;
    z-index: 1;

    &.selected {
      cursor: default;
      color: #fff;
      // background: $color-primary;
    }
  }

  @include indicator(0);
  @include indicator(1);
  @include indicator(2);
}
