<div class="mode-selector" [attr.selected-index]="selectedIndex">
  <div *ngFor="let mode of modes"
       [attr.value]="mode"
       [class.selected]="selected === mode"
       (click)="modeClicked(mode)"
       class="mode-selector__label">
    {{ mode | translate }}
  </div>
</div>
