<aui-table [dataSource]="subjects">
  <ng-container [auiTableColumnDef]="columns[0]">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'kind' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <aui-select placeholder="{{ 'administrator.select_kind_placeholder' | translate }}"
                  [(ngModel)]="item.kind"
                  (ngModelChange)="kindChange($event, item)">
        <aui-option *ngFor="let kind of kinds" [value]="kind">
          {{ kind | translate }}
        </aui-option>
      </aui-select>
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="columns[1]">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'name' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <input aui-input type="text" [(ngModel)]="item.name" (ngModelChange)="emit()">
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="columns[2]">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'namespace' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <aui-select placeholder="{{ (item.kind === 'ServiceAccount' ? 'administrator.select_namespace_placeholder' : '') | translate }}"
                  [(ngModel)]="item.namespace"
                  (ngModelChange)="emit()"
                  [disabled]="item.kind !== 'ServiceAccount'">
        <aui-option *ngFor="let namespace of (namespaces$ | async)" [value]="namespace">
          {{ namespace }}
        </aui-option>
      </aui-select>
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="columns[3]">
    <aui-table-header-cell style="flex: .5;" *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item" style="display: flex; justify-content: flex-end; flex: .5;">
      <aui-icon icon="basic:minus_circle" class="delete" (click)="deleteSubject(item)" ></aui-icon>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>

<a href="javascript:;" (click)="addSubject()"><aui-icon icon="basic:add_circle"></aui-icon> {{ 'administrator.add_subject' | translate }}</a>
