@import '../../../shared/_var.scss';

$line-height: 18px;

.event-list-item {
  display: flex;
  align-items: start;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &--Warning {
    .event-list-item__count {
      background-color: $color-error;
    }
  }

  &--Normal {
    .event-list-item__count {
      background-color: $color-success;
    }
  }

  &__timestamp {
    cursor: pointer;
    display: flex;
    font-size: 10px;
    color: #999;
    margin-right: 8px;
    white-space: nowrap;
    flex-shrink: 0;
    flex: 0 0 45px;
    line-height: $line-height;
  }

  &__count {
    flex: 0 0 28px;
    font-size: 10px;
    margin-right: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    line-height: $line-height;
    height: 16px;
  }

  &__resource-name {
    font-size: 12px;
    line-height: $line-height;
    margin-bottom: 4px;
    align-items: start;
  }

  &__message-container {
    display: flex;
    flex-flow: column;
  }

  &__message {
    display: flex;
    font-size: 12px;
    color: #666;
    line-height: $line-height;
  }
}

.no-event-hint {
  color: #999;
}
