<div *ngFor="let event of eventItems; trackBy: trackByFn; index as i"
     class="event-list-item"
     [@zoomInOut]
     [ngClass]="'event-list-item--' + event.type">

  <alk-time *ngIf="shouldShowTimestamp(event, i)"
            class="event-list-item__timestamp"
            mode="absolute"
            [format]="timeFormat"
            [timestamp]="event.lastTimestamp"></alk-time>
  <div *ngIf="!shouldShowTimestamp(event, i)"
       class="event-list-item__timestamp"></div>
  <div class="event-list-item__count">{{ event.count > 100 ? '99+' : event.count }}</div>
  <div class="event-list-item__message-container">
    <div class="event-list-item__resource-name">
      {{ event.involvedObject.kind | lowercase | translate }}:
      <a [routerLink]="getReferencedResource(event) | alkDetailRoutes">
        {{ event.involvedObject.name }}
        <ng-container *ngIf="event.involvedObject.namespace">
          ({{ 'namespace' | translate }}: {{ event.involvedObject.namespace }})
        </ng-container>
      </a>
    </div>
    <div class="event-list-item__message">
      {{ event.message }}
    </div>
  </div>
</div>

<div class="no-event-hint"
     *ngIf="events.length === 0">
  {{ 'zero_state_hint' | translate: { resourceName: ('events' | translate) } }}
</div>

<aui-paginator *ngIf="events?.length > 10"
               [length]="events?.length"
               [pageSize]="pageParams?.pageSize"
               [pageIndex]="pageParams?.pageIndex"
               (page)="onPageEvent($event)"
               [pageSizeOptions]="[10, 20, 50]">
</aui-paginator>
