@import '../../_var.scss';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:host {
  position: relative;
  display: inline-flex;
}

$icon-size: 16px;
$icon-margin: 0 8px;
$container-padding-v: 4px;

input {
  width: 260px;
  padding-right: 60px;
}

.search-icon-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: $container-padding-v 0;
  height: 100%;
  display: flex;
  align-items: center;

  &__divider {
    background: #ccc;
    width: 1px;
    height: 100%;
  }

  &__icon-wrapper {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      .search-icon-container__search-icon {
        color: $color-primary;
      }

      .search-icon-container__delete-icon {
        color: $color-text-help;
      }
    }
  }

  aui-icon {
    font-size: $icon-size;
    &.search-icon-container__search-icon {
      color: $color-text-help;

      &--searching {
        color: $color-primary;
        animation-name: spin;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    &.search-icon-container__delete-icon {
      color: $color-info;
    }
  }
}
