<aui-dialog-header>{{ title }}</aui-dialog-header>

<aui-dialog-content>
  <alk-node-taint-form [(ngModel)]="taints">
  </alk-node-taint-form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary"
            [disabled]="updating"
            (click)="onConfirm()">{{ 'update' | translate }}</button>
    <button aui-button
            auiDialogClose>{{ 'cancel' | translate }}</button>

  </div>
</aui-dialog-footer>
