<alk-array-form-table resourceName="resourcequota"
                      (add)="addListItem()"
                      [rows]="form.controls">
  <ng-container *alkArrayFormTableHeader>
    <th>{{ 'namespace.resource_type' | translate }}</th>
    <th>{{ 'namespace.resource_name' | translate }}</th>
    <th>{{ 'namespace.min' | translate }}</th>
    <th>{{ 'namespace.max' | translate }}</th>
    <th>{{ 'namespace.default_request' | translate }}</th>
    <th>{{ 'namespace.default_limit' | translate }}</th>
    <th>{{ 'namespace.max_limit_request_ratio' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *alkArrayFormTableRow="let control">
    <td>
      {{ control.value.resourceType | lowercase | translate }}
    </td>

    <td>
      {{ control.value.resourceName | lowercase | translate }}
    </td>

    <td>
      {{ control.value.min }}
    </td>

    <td>
      {{ control.value.max }}
    </td>

    <td>
      {{ control.value.defaultRequest }}
    </td>

    <td>
      {{ control.value.default }}
    </td>

    <td>
      {{ control.value.maxLimitRequestRatio }}
    </td>
  </ng-container>

  <!-- Row controls -->
  <ng-container *alkArrayFormTableRowControl="let control; let index = index">
    <aui-icon icon="basic:pencil_s"
              (click)="editListItem(index)">
    </aui-icon>

    <aui-icon icon="basic:minus_circle"
              (click)="remove(index)">
    </aui-icon>
  </ng-container>
</alk-array-form-table>
