@import '../../../shared/_var.scss';

.pod-metrics-cards-title {
  margin-bottom: 12px;
  font-size: 18px;
  color: #333;
}

.pod-metrics-cards-container {
  display: flex;
}

.pod-metrics-card {
  min-width: 200px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
  margin-right: 20px;

  &__metric-number {
    font-size: 24px;
    white-space: nowrap;
  }

  &__usage_hint {
    font-size: 14px;
    color: #666;
  }

  .left-col {
    margin-right: 8px;
  }

  .right-col {
    display: flex;
    flex-flow: column;
  }
}

.pod-metrics-card--cpu {
  .pod-metrics-card__metric-number {
    color: #7c70e2;
  }
}

.pod-metrics-card--memory {
  .pod-metrics-card__metric-number {
    color: #33afe8;
  }
}

.metrics-type-icon-wrapper {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  aui-icon {
    font-size: 24px;
    color: #fff;

    ::ng-deep path {
      fill: #fff !important;
    }
  }
}
