<div class="pod-metrics-cards-title">{{ 'metrics' | translate }}</div>

<div class="pod-metrics-cards-container">
  <div class="pod-metrics-card"
       [ngClass]="'pod-metrics-card--' + type"
       *ngFor="let type of types">
    <div class="left-col metrics-type-icon-wrapper"
         [style.backgroundColor]="typesToColor[type]">
      <aui-icon [icon]="typesToIcon[type]"></aui-icon>
    </div>

    <div class="right-col">
      <div class="pod-metrics-card__metric-number">
        {{ safeMetrics[type] | alkUnitFormatter:type }}
      </div>
      <div class="pod-metrics-card__usage_hint">
        {{ 'metrics.resource_usage' | translate: { resource: (type | translate) } }}
      </div>
    </div>
  </div>
</div>
