@import '../../_var.scss';

:host {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  font-size: 12px;
  padding: 8px;
}

.status-tooltip-row {
  display: flex;
  align-items: center;
  min-width: 120px;
  &:not(:last-child) {
    margin-bottom: 4px;
  }

  &.status-tooltip-row--type {
    margin-bottom: 8px;
  }

  &__spacer {
    flex: 1;
  }
}

alk-status-icon {
  margin-right: 4px;
}
