<div class="status-tooltip-row status-tooltip-row--type">
  {{ type | lowercase | translate }}:
  <div class="status-tooltip-row__spacer"></div>
  {{ statusInfo.total }}
</div>

<div class="status-tooltip-row"
     *ngFor="let item of statusItems">
  <alk-status-icon [status]="item.status"></alk-status-icon>
  {{ item.label }}:
  <div class="status-tooltip-row__spacer"></div>
  {{ item.value }}
</div>
