<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.objectMeta.name }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'namespace' | translate }}</div>
        <div class="alk-basic-info-field__content"><a [routerLink]="['/namespace/detail', { name: detail?.objectMeta.namespace }]">{{ detail?.objectMeta.namespace }}</a></div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'labels' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field (updated)="updated.emit($event)"
                                     [resource]="detail">
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'annotations' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field (updated)="updated.emit($event)"
                                          [resource]="detail">
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'access_modes' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.accessModes }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'capacity' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.capacity.storage }}</div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'related_pv' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <a *ngIf="detail?.volume"
             [routerLink]="getPersistentVolumeResource(detail?.volume) | alkDetailRoutes">{{ detail?.volume }}</a>
          <div *ngIf="!detail?.volume">-</div>
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'storageclasses' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <a *ngIf="detail?.storageClass"
             [routerLink]="getStorageClassResource(detail?.storageClass) | alkDetailRoutes">{{ detail?.storageClass }}</a>
          <div *ngIf="!detail?.storageClass">-</div>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'created_at' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-time [timestamp]="detail?.objectMeta.creationTimestamp" mode="absolute"></alk-time>
        </div>
      </div>
    </div>
  </div>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'pods' | translate }}</div>

  <alk-pod-list *ngIf="podListEndpoint"
                [endpoint]="podListEndpoint">
  </alk-pod-list>
</aui-card>
