<ng-container *alkPageHeaderContent>
  <alk-default-breadcrumb>
    <div *alkBreadcrumbItem>{{ name$ | async }}</div>
  </alk-default-breadcrumb>
  <div fxFlex></div>
  <button aui-button
          *ngIf="detail$ | async"
          [auiDropdown]="menu.menu"
          auiDropdownActive="action-button__active">
    <span>{{ 'action' | translate }}</span>
    <aui-icon icon="angle_down"></aui-icon>
  </button>
  <alk-persistent-volume-claim-action-menu #menu
                                           (updated)="onUpdate(item)"
                                           (deleted)="onUpdate(item)"
                                           [resource]="detail$ | async">
  </alk-persistent-volume-claim-action-menu>
</ng-container>

<aui-tab-group [selectedIndex]="tabIndex$ | async"
               (selectedIndexChange)="onTabIndexChange($event)">
  <aui-tab *ngFor="let tab of tabs"
           label="{{ tab | translate }}"></aui-tab>
</aui-tab-group>

<div class="alk-detail-page-tab-container">
  <alk-persistent-volume-claim-detail-basic-info *ngIf="(tab$ | async) === 'basic_info'"
                                                 (updated)="onUpdate()"
                                                 [detail]="detail$ | async">
  </alk-persistent-volume-claim-detail-basic-info>

  <alk-resource-yaml-editor *ngIf="(tab$ | async) === 'yaml'"
                            mode="view"
                            [resourceDetail]="detail$ | async">
  </alk-resource-yaml-editor>

  <aui-card *ngIf="(tab$ | async) === 'events'">
    <div auiCardHeader></div>
    <alk-event-list [events]="(detail$ | async)?.eventList?.events">
    </alk-event-list>
  </aui-card>
</div>
