<ng-container *alkPageHeaderContent>
  <alk-namespace-selector [namespace]="namespace$ | async"
                          (namespaceChanged)="namespaceChanged($event)">
  </alk-namespace-selector>
  <alk-breadcrumb-separator></alk-breadcrumb-separator>
  <alk-default-breadcrumb></alk-default-breadcrumb>
</ng-container>

<aui-card>
  <div auiCardHeader
       fxLayout
       class="alk-list-page-toolbar">
    <button aui-button="primary"
            [routerLink]="['/persistentvolumeclaim/create']">
      {{ 'persistentvolumeclaim.create_persistentvolumeclaim' | translate }}
    </button>
    <div fxFlex></div>
    <alk-search-input [searching]="searching"
                      [value]="search$ | async"
                      (search)="searchByName($event)"></alk-search-input>
  </div>

  <aui-table auiSort
             [trackBy]="trackByFn"
             [active]="(sort$ | async)?.active"
             [direction]="(sort$ | async)?.direction"
             [dataSource]="list$"
             (sortChange)="sortData($event)">
    <ng-container *ngFor="let column of columnDefs">

      <!-- Non sortable only has a simple difference that it does not wrap the cellDef with aui-sort-header component -->
      <ng-container [auiTableColumnDef]="column.name">
        <ng-container *ngIf="column.sortable">
          <aui-table-header-cell *auiTableHeaderCellDef
                                 aui-sort-header
                                 [start]="column.sortStart">
            {{ column.label | translate }}
          </aui-table-header-cell>
        </ng-container>

        <ng-container *ngIf="!column.sortable">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ column.label | translate }}
          </aui-table-header-cell>
        </ng-container>

        <aui-table-cell *auiTableCellDef="let item">
          <ng-container [ngSwitch]="column.name">
            <alk-time *ngSwitchCase="'creationTimestamp'"
                               [timestamp]="getCellValue(item, column.name)">
            </alk-time>

            <!-- Name columns also contains labels -->
            <div *ngSwitchCase="'name'">
              <a [routerLink]="item | alkDetailRoutes">{{ getCellValue(item, column.name) }}</a>
              <div class="tabel-cell__label-container"
                   *ngIf="getCellValue(item, 'labels')">
                <alk-tags-label [tags]="getCellValue(item, 'labels')"></alk-tags-label>
              </div>
            </div>

            <ng-container *ngSwitchCase="'capacity'">
              {{ item.capacity?.storage }}
            </ng-container>

            <div *ngSwitchCase="'volume'">
              <a *ngIf="item.volume"
                 [routerLink]="getPersistentVolumeResource(item.volume) | alkDetailRoutes">{{ item.volume }}</a>
              <ng-container *ngIf="!item.volume">
                -
              </ng-container>
            </div>

            <alk-pv-c-status *ngSwitchCase="'status'"
                             [currentStatus]="item.status"
                             [events]="item.warnings">
            </alk-pv-c-status>

            <div *ngSwitchCase="'storageClass'">
              <a *ngIf="item.storageClass"
                 [routerLink]="getStorageClassResource(item.storageClass) | alkDetailRoutes">{{ item.storageClass }}</a>
              <ng-container *ngIf="!item.storageClass">
                -
              </ng-container>
            </div>
            <div *ngSwitchCase="'action'"
                 [auiDropdown]="menu.menu"
                 auiDropdownActive="action-button__active"
                 class="action-button">
              <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
            </div>
            <alk-persistent-volume-claim-action-menu #menu
                                                     (updated)="onUpdate(item)"
                                                     (deleted)="onUpdate(item)"
                                                     [resource]="item">
            </alk-persistent-volume-claim-action-menu>

            <div *ngSwitchDefault>
              <ng-container *ngIf="getCellValue(item, column.name)">
                {{ getCellValue(item, column.name) }}
              </ng-container>
              <ng-container *ngIf="!getCellValue(item, column.name)">
                -
              </ng-container>
            </div>

          </ng-container>
        </aui-table-cell>
      </ng-container>
    </ng-container>

    <aui-table-header-row *auiTableHeaderRowDef="columns$ | async"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns$ | async;"></aui-table-row>
  </aui-table>

  <alk-zero-state *ngIf="showZeroState"
                  resourceName="persistentvolumeclaims"></alk-zero-state>

  <aui-paginator *ngIf="(listMeta$ | async)?.totalItems > 10"
                 [length]="(listMeta$ | async)?.totalItems"
                 [pageSize]="(pageParams$ | async)?.pageSize"
                 [pageIndex]="(pageParams$ | async)?.pageIndex"
                 (page)="onPageEvent($event)"
                 [pageSizeOptions]="[10, 20, 50, 100]">
  </aui-paginator>
</aui-card>
