<alk-tags-label [tags]="resource?.objectMeta?.labels">
</alk-tags-label>
<div *ngIf="!resource?.objectMeta?.labels">-</div>
<alk-update-labels-button (updated)="updated.emit($event)"
                          [resource]="resource">
</alk-update-labels-button>
