<ng-container *alkPageHeaderContent>
  <alk-default-breadcrumb>
    <div *alkBreadcrumbItem>{{ name$ | async }}</div>
  </alk-default-breadcrumb>
  <div fxFlex></div>

  <ng-container *ngIf="detail$ | async">

    <alk-shell-button [params]="shellParams$ | async">
    </alk-shell-button>

    <button aui-button
            [auiDropdown]="menu.menu"
            auiDropdownActive="action-button__active">
      <span>{{ 'action' | translate }}</span>
      <aui-icon icon="angle_down"></aui-icon>
    </button>
  </ng-container>

  <alk-deployment-action-menu #menu
                              (updated)="onUpdate()"
                              (deleted)="onUpdate()"
                              [resource]="detail$ | async">
  </alk-deployment-action-menu>
</ng-container>

<aui-tab-group [selectedIndex]="tabIndex$ | async"
               (selectedIndexChange)="onTabIndexChange($event)">
  <aui-tab *ngFor="let tab of tabs"
           label="{{ tab | translate }}"></aui-tab>
</aui-tab-group>

<div class="alk-detail-page-tab-container">
  <alk-deployment-detail-basic-info *ngIf="(tab$ | async) === 'basic_info'"
                                    (updated)="onUpdate()"
                                    [detail]="detail$ | async">
  </alk-deployment-detail-basic-info>

  <alk-resource-yaml-editor *ngIf="(tab$ | async) === 'yaml'"
                            mode="view"
                            [resourceDetail]="detail$ | async">
  </alk-resource-yaml-editor>

  <!-- Deployment does not control pod directly. We need to infer RS instead. -->
  <alk-logs-viewer *ngIf="(tab$ | async) === 'logs'"
                   [namespace]="namespace$ | async"
                   resourceType="ReplicaSet"
                   [resourceName]="(detail$ | async)?.newReplicaSet?.objectMeta?.name">
  </alk-logs-viewer>

  <alk-pod-env-list *ngIf="(tab$ | async) === 'config_management'"
                    (update)="onPodSpecUpdate($event)"
                    [namespace]="namespace$ | async"
                    [spec]="(detail$ | async)?.data.spec.template.spec"></alk-pod-env-list>

  <aui-card *ngIf="(tab$ | async) === 'events'">
    <div auiCardHeader></div>
    <alk-event-list [events]="(detail$ | async)?.eventList?.events">
    </alk-event-list>
  </aui-card>
</div>
