@import '../../../shared/var';

.status-gauge-status-hint {
  display: flex;
  align-items: center;
  color: #999999;
  margin-bottom: 8px;

  &__item {
    margin-right: 12px;
    white-space: nowrap;
  }
}

.status-gauge-container {
  display: flex;
  align-items: stretch;
  border-radius: 2px;
  overflow: hidden;
  height: 20px;
  width: 100%;
  background-color: #eeeeee;
  &__item {
    cursor: pointer;
    transition: opacity 0.1s, flex-grow 0.3s;
    &:hover {
      opacity: 0.8;
    }

    &:not(:first-child) {
      margin-left: 1px;
    }

    &--success {
      background-color: $color-success;
    }

    &--running {
      background-color: $color-running;
    }

    &--error {
      background-color: $color-error;
    }

    &--pending {
      background-color: $color-primary;
    }

    &--unknown {
      background-color: $color-info;
    }

    &--bound {
      background-color: $color-primary;
    }

    &--warning {
      background-color: $color-warning;
    }
  }
}

.status-gauge-tooltip {
  display: flex;
  align-items: center;
  padding: 4px;

  &__label {
    margin-left: 6px;
    font-size: 12px;
  }
}
