<div class="status-gauge-status-hint">
  <div class="status-gauge-status-hint__item">
    {{ 'total' | translate }}
    {{ statusInfo.total }}
  </div>
  <div *ngFor="let item of statusItems; trackBy: trackByFn;"
       class="status-gauge-status-hint__item">
    {{ labelRender(item.key) }}
    {{ item.value }}
  </div>
</div>
<div class="status-gauge-container"
     [auiTooltipDisabled]="statusItems.length > 0"
     [auiTooltip]="noDataTooltip">
  <ng-container *ngFor="let item of statusItems; trackBy: trackByFn;">
    <div [style.margin-right]="!item.value ? '-2px' : 0"
         class="status-gauge-container__item"
         (click)="onStatusBarClick(item.key)"
         [auiTooltip]="statusTooltip"
         [ngClass]="'status-gauge-container__item--' + item.status"
         [style.flex-grow]="item.value">
    </div>

    <ng-template #statusTooltip>
      <div class="status-gauge-tooltip">
        <alk-status-icon [status]="item.status"></alk-status-icon>
        <div class="status-gauge-tooltip__label">
          {{ labelRender(item.key) }}:
          {{ item.value }}
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>

<ng-template #noDataTooltip>
  <div class="status-gauge-tooltip">
    {{ 'no_data_hint' | translate }}
  </div>
</ng-template>
