<aui-dialog-header>{{ title }}</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm">
    <alk-key-value-form-table [(ngModel)]="labels"
                              name="labels">
    </alk-key-value-form-table>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary"
            [disabled]="form.invalid || updating"
            (click)="onConfirm()">{{ 'update' | translate }}</button>
    <button aui-button
            auiDialogClose>{{ 'cancel' | translate }}</button>

  </div>
</aui-dialog-footer>
