<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.objectMeta.name }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'namespace' | translate }}</div>
        <div class="alk-basic-info-field__content"><a [routerLink]="['/namespace/detail', { name: detail?.objectMeta.namespace }]">{{ detail?.objectMeta.namespace }}</a></div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'labels' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field (updated)="updated.emit($event)"
                                     [resource]="detail">
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'annotations' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field (updated)="updated.emit($event)"
                                          [resource]="detail">
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'images' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-shrink-list [list]="detail?.containerImages"></alk-shrink-list>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'selectors' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-tags-label [tags]="detail?.selector"></alk-tags-label>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'job.active_deadline_seconds' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <ng-container *ngIf="detail?.activeDeadlineSeconds; else noActieDeadline">
            {{ detail?.activeDeadlineSeconds + ' ' + ('seconds' | translate) }}
          </ng-container>
          <ng-template #noActieDeadline>-</ng-template>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'job.backoff_limit' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.backoffLimit || '-' }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'job.completions' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.completions || '-' }}
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'job.parallelism' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.parallelism || '-' }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'status' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-pod-controller-status [tooltipPosition]="'end'"
                                     [podControllerInfo]="detail?.podControllerInfo">
          </alk-pod-controller-status>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'creator' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <a *ngIf="controller"
             [routerLink]="controller | alkDetailRoutes">
            {{ controller.objectMeta.name }} ({{ controller.typeMeta.kind | lowercase | translate }})
          </a>
          <span *ngIf="!controller">-</span>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'created_at' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-time [timestamp]="detail?.objectMeta.creationTimestamp" mode="absolute"></alk-time>
        </div>
      </div>
    </div>

  </div>

  <ng-container *ngIf="appConfig.metricsServerEnabled">
    <div class="alk-card-section-divider"></div>
    <alk-pod-metrics-cards [metrics]="detail?.metrics"></alk-pod-metrics-cards>
  </ng-container>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'pods' | translate }}
    <div style="flex: 1;"></div>
    <alk-pod-controller-info-icons [podControllerInfo]="detail?.podControllerInfo">
    </alk-pod-controller-info-icons>
  </div>

  <alk-pod-list *ngIf="podListEndpoint"
                [endpoint]="podListEndpoint"></alk-pod-list>
</aui-card>
