<alk-tags-label [tags]="resource?.objectMeta?.annotations">
</alk-tags-label>
<div *ngIf="!resource?.objectMeta?.annotations">-</div>
<alk-update-annotations-button (updated)="updated.emit($event)"
                               [resource]="resource">
</alk-update-annotations-button>
