<div class="pod-metrics-cell-row"
     [ngClass]="'pod-metrics-cell-row--' + type"
     *ngFor="let type of types">
  <aui-icon [auiTooltip]="type | translate"
            [style.color]="typesToColor[type]"
            [icon]="typesToIcon[type]"></aui-icon>
  <div class="pod-metrics-cell-row__metric-number">
    {{ safeMetrics[type] | alkUnitFormatter:type }}
  </div>
</div>
