@import '../app/shared/var';

.alk-basic-info-container {
  display: block;
  padding: 12px 20px 0 20px;
}

.alk-basic-info-row {
  display: flex;
  margin-bottom: 12px;

  .alk-basic-info-field {
    flex: 1 0 50%;
    margin-right: 12px;
  }
}

.layout-page-header {
  .aui-button {
    margin-left: 8px;
  }

  alk-shell-button {
    color: $color-primary;
    font-size: 16px;

    &:hover {
      color: #008ccb;
    }
  }
}

.alk-basic-info-field {
  display: flex;
  width: 50%;
  max-width: 50%;
  overflow: hidden;

  &__label {
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
    margin-right: 8px;
    &::after {
      display: inline-block;
      content: ':';
      margin-left: 2px;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    align-items: flex-start;
    overflow: hidden;
  }

  alk-resource-labels-field,
  alk-resource-annotations-field,
  alk-node-taint-field {
    display: inline-flex;
    overflow: hidden;
  }

  alk-tags-label {
    overflow: hidden;
  }
}

.alk-detail-page-tab-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

  alk-resource-yaml-editor,
  alk-logs-viewer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
