/* You can add global styles to this file, and also import other style files */
@import '../app/shared/var';
@import '../app/shared/mixins';
@import './material.styles';
@import './table.styles';
@import './action-menu.styles';
@import './resource-detail-page.styles';

$default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Helvetica Neue', Helvetica, 'Ubuntu', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

body,
button,
input,
select,
textarea,
p,
a {
  font-family: $default-font-family;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.lead {
  font-family: $default-font-family;
}

a,
.alk-link-button {
  color: #33afe8;
  cursor: pointer;
  text-decoration: none;
}

a,
.alk-link-button {
  &:hover {
    color: #007cb5;
    text-decoration: none;
  }
}

:focus {
  outline: none;
}

/**
 * Mimic ng-hide in Angular.
 */
[hidden] {
  display: none !important;
}

alk-console,
.cdk-overlay-container,
.cdk-overlay-pane {
  .aui-tab-header--line {
    background: $color-white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .mat-progress-bar {
    height: 4px;
  }

  pre.monaco-editor {
    font-family: monospace;
  }

  /* Some temporary fixes for AUI */
  aui-card + aui-card > .aui-card {
    margin-top: 16px;
  }

  .aui-card {
    padding: 20px;
  }

  .aui-input-group {
    color: inherit;
  }

  .alk-card-section-divider {
    color: #333;
    font-size: 18px;
    padding-bottom: 12px;
    border-bottom: 1px dashed #ededed;
    margin-bottom: 16px;
  }

  .aui-card__content {
    padding: 0;

    .aui-paginator {
      margin-top: 16px;
    }
  }

  aui-form-item:last-child > .aui-form-item {
    margin-bottom: 0;
  }

  .aui-card__header {
    font-size: 18px;
    color: #333;
    padding: 0;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
  }

  .aui-code-editor {
    min-height: 0;
  }

  .aui-dialog__header {
    font-size: 18px;
    padding-bottom: 20px;
  }

  .aui-monaco-editor-container {
    overflow: visible;
  }

  .cdk-overlay-pane.aui-dialog-overlay-pane {
    display: block;
  }

  .aui-tags-input {
    white-space: normal;

    &__placeholder {
      display: inline;
    }
  }

  .aui-tab-header,
  .aui-tab-header-active-indicator {
    border-color: $border-color;
  }

  .aui-multi-select {
    white-space: normal;
  }

  .aui-menu {
    max-height: 400px;
    overflow: auto;
  }

  // Input should hide controls
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  aui-monaco-editor,
  aui-monaco-diff-editor,
  aui-code-editor {
    &.readonly .monaco-editor .cursor {
      visibility: hidden !important;
    }
  }

  .aui-confirm-dialog {
    width: 600px;
    &__title {
      white-space: normal;
      overflow: hidden;
    }
  }
  .aui-tag {
    border-radius: 12px;
  }
}

button.aui-button {
  > * + aui-icon {
    margin-left: 4px;
  }
}

.aui-tooltip {
  &--bottom,
  &--top {
    margin: 4px 0 !important;
  }
  max-height: 300px;
  overflow: auto;
  padding: 8px 12px;
  box-shadow: 0 1px 4px 0 rgba(10, 10, 10, 0.3);
}

.aui-tooltip.aui-tooltip--info {
  border: none;
  background-color: #fff;
  max-width: 800px;

  .plain-container__label {
    margin-bottom: 6px;
  }
}

.aui-tooltip.aui-tooltip--default {
  background-color: rgba(0, 0, 0, 0.8);
}

.alk-invisible {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

.alk-mutate-page-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column;
  padding-bottom: 50px;

  aui-code-editor {
    position: relative;
    flex: 1;
    .aui-code-editor {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.alk-mutate-page-bottom-buttons {
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 12px 20px;
  background-color: #ffffff;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

pre {
  word-wrap: normal;
  font-size: 12px;
  overflow-x: auto;
  padding: 4px 8px;
  background: #ededed;
  border-radius: 3px;
}
