<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.objectMeta.name }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'namespace' | translate }}</div>
        <div class="alk-basic-info-field__content"><a [routerLink]="['/namespace/detail', { name: detail?.objectMeta.namespace }]">{{ detail?.objectMeta.namespace }}</a></div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'labels' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field (updated)="updated.emit($event)"
                                     [resource]="detail">
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'annotations' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field (updated)="updated.emit($event)"
                                          [resource]="detail">
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'ingress.default_backend' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <ng-container *ngIf="getDefaultBackend(); else backendElse">
            <a [routerLink]="getServiceResource(getDefaultBackend().serviceName) | alkDetailRoutes">
              {{ getDefaultBackend().serviceName }}
            </a>
            <ng-container *ngIf="!getDefaultBackend().serviceName">{{ '-' }}</ng-container>
            : {{ getDefaultBackend().servicePort }}
          </ng-container>
          <ng-template #backendElse>-</ng-template>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'created_at' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-time [timestamp]="detail?.objectMeta.creationTimestamp" mode="absolute"></alk-time>
        </div>
      </div>
    </div>

  </div>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'ingress.ingress_rules' | translate }}</div>
  <alk-ingress-rule-list [namespace]="detail?.objectMeta.namespace"
                         [rules]="detail?.spec?.rules || []">
  </alk-ingress-rule-list>
</aui-card>


<aui-card>
  <div auiCardHeader>{{ 'ingress.ingress_tls' | translate }}</div>
  <alk-ingress-tls-list [namespace]="detail?.objectMeta.namespace"
                        [tls]="detail?.spec?.tls || []">
  </alk-ingress-tls-list>
</aui-card>
