<alk-usage-bar [percentage]="metrics ? usageFraction : requestsFraction "
               [auiTooltip]="allocatedResourcesTemplate"></alk-usage-bar>
<ng-template #allocatedResourcesTemplate>
  <div class="allocated-resources">
    <div *ngIf="metrics">
      {{ 'node.usage' | translate }}: {{ usage | alkUnitFormatter:resourceType }} ({{ usageFraction | number:'1.2-2' }}%)
    </div>
    <div>
      {{ 'node.requests' | translate }}: {{ requests | alkUnitFormatter:resourceType }} ({{ requestsFraction | number:'1.2-2' }}%)
    </div>

    <div>
      {{ 'node.limits' | translate }}: {{ limits | alkUnitFormatter:resourceType }} ({{ limitsFraction | number:'1.2-2' }}%)
    </div>

    <div>
      {{ 'node.capacity' | translate }}: {{ capacity | alkUnitFormatter:resourceType }}
    </div>
  </div>
</ng-template>
