<ng-container *alkPageHeaderContent>
  <alk-breadcrumb>
    <div *alkBreadcrumbItem>{{ 'nav_cluster' | translate }}</div>
    <a *alkBreadcrumbItem
       [routerLink]="['/namespace/detail', { name: namespace$ | async }]">
      {{ 'nav_namespace' | translate }}
    </a>
    <div *alkBreadcrumbItem>{{ 'limitrange' | translate }}</div>
    <div *alkBreadcrumbItem>{{ method$ | async | translate }}</div>
    <ng-container *ngIf="(method$ | async) === 'update'">
      <div *alkBreadcrumbItem>{{ name$ | async }}</div>
    </ng-container>
  </alk-breadcrumb>

  <div fxFlex></div>

  <alk-mode-selector [modes]="['form', 'yaml']"
                     [selected]="mode"
                     (modeClick)="modeChange($event)">
  </alk-mode-selector>
</ng-container>

<form class="alk-mutate-page-wrapper">
  <alk-limit-range-form *ngIf="mode === 'form'"
                        [namespace]="namespace$ | async"
                        [updateMode]="isUpdate$ | async"
                        name="formModel"
                        [ngModel]="formModel"
                        (ngModelChange)="formModelChange($event)">
  </alk-limit-range-form>

  <aui-code-editor *ngIf="mode === 'yaml'"
                   [actionsConfig]="actionsConfig$ | async"
                   [originalValue]="originalYaml$ | async"
                   [options]="editorOptions"
                   name="yaml"
                   [(ngModel)]="yaml">
  </aui-code-editor>

  <div class="alk-mutate-page-bottom-buttons">
    <button aui-button="primary"
            [loading]="submitting"
            [disabled]="submitDisabled"
            (click)="onSubmit($event)">{{ method$ | async | translate }}</button>
    <button (click)="back()"
            type="button"
            [disabled]="submitDisabled"
            aui-button>{{ 'cancel' | translate }}</button>
  </div>
</form>
