<aui-table auiSort
           [trackBy]="trackByFn"
           [active]="(sort$ | async).active"
           [direction]="(sort$ | async).direction"
           [dataSource]="list$"
           (sortChange)="sortData($event)">
  <ng-container *ngFor="let column of columnDefs">

    <!-- Non sortable only has a simple difference that it does not wrap the cellDef with aui-sort-header component -->
    <ng-container [auiTableColumnDef]="column.name">
      <ng-container *ngIf="column.sortable">
        <aui-table-header-cell *auiTableHeaderCellDef
                               [start]="column.sortStart"
                               aui-sort-header>
          {{ column.label | translate }}
        </aui-table-header-cell>
      </ng-container>

      <ng-container *ngIf="!column.sortable">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ column.label | translate }}
        </aui-table-header-cell>
      </ng-container>

      <aui-table-cell *auiTableCellDef="let item">
        <ng-container [ngSwitch]="column.name">
          <alk-time *ngSwitchCase="'creationTimestamp'"
                             [timestamp]="getCellValue(item, column.name)">
          </alk-time>

          <!-- Name columns also contains labels -->
          <div *ngSwitchCase="'name'">
            <a [routerLink]="item | alkDetailRoutes">{{ getCellValue(item, column.name) }}</a>
            <div class="tabel-cell__label-container"
                 *ngIf="getCellValue(item, 'labels')">
              <alk-tags-label [tags]="getCellValue(item, 'labels')"></alk-tags-label>
            </div>
          </div>

          <ng-container *ngSwitchCase="'pods'">
            <alk-pod-controller-status [podControllerInfo]="item.podControllerInfo">
            </alk-pod-controller-status>
          </ng-container>

          <div *ngSwitchCase="'action'"
               [auiDropdown]="menu.menu"
               auiDropdownActive="action-button__active"
               class="action-button">
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>

          <alk-simple-resource-action-menu #menu
                                           (updated)="onUpdate(item)"
                                           (deleted)="onUpdate(item)"
                                           [resource]="item">
          </alk-simple-resource-action-menu>

          <ng-container *ngSwitchCase="'containerImages'">
            <alk-shrink-list [list]="item.containerImages"></alk-shrink-list>
          </ng-container>

          <ng-container *ngSwitchDefault>
            {{ getCellValue(item, column.name) }}
          </ng-container>
        </ng-container>
      </aui-table-cell>
    </ng-container>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns$ | async"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns$ | async;"></aui-table-row>
</aui-table>
<alk-zero-state *ngIf="showZeroState"
                resourceName="job"></alk-zero-state>

<aui-paginator *ngIf="(listMeta$ | async)?.totalItems > 10"
               [length]="(listMeta$ | async)?.totalItems"
               [pageSize]="(pageParams$ | async)?.pageSize"
               [pageIndex]="(pageParams$ | async)?.pageIndex"
               (page)="onPageEvent($event)"
               [pageSizeOptions]="[10, 20, 50, 100]">
</aui-paginator>
