<form [formGroup]="form"
      auiForm
      auiFormLabelWidth="150px"
      [auiFormEmptyAddon]="true">
  <aui-card>
    <div auiCardHeader>{{ (updateMode ? 'update' : 'create' ) | translate }} {{ 'configmap' | translate }}</div>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>
        {{ 'namespace' | translate }}
      </label>
      <aui-select auiFormItemControl
                  [loading]="!(namespaces$ | async)"
                  (blur)="onBlur()"
                  required
                  formControlName="namespace">
        <aui-option *ngFor="let namespace of namespaces$ | async"
                    [value]="namespace">
          {{ namespace }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>
        {{ 'name' | translate }}
      </label>
      <input auiFormItemControl
             aui-input
             (blur)="onBlur()"
             formControlName="name">
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>
        {{ 'labels' | translate }}
      </label>

      <alk-key-value-form-table auiFormItemControl
                                (blur)="onBlur()"
                                formControlName="labels">
      </alk-key-value-form-table>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>
        {{ 'annotations' | translate }}
      </label>

      <alk-key-value-form-table auiFormItemControl
                                (blur)="onBlur()"
                                formControlName="annotations">
      </alk-key-value-form-table>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'data' | translate }}
      </label>

      <alk-key-value-form-list auiFormItemControl
                               (blur)="onBlur()"
                               formControlName="data">
      </alk-key-value-form-list>
    </aui-form-item>
  </aui-card>
</form>
