<div>
  <div *ngFor="let endpoint of endpoints">
    <div *ngFor="let port of endpoint.ports">
      <div class="internal-endpoint" title="{{endpoint.host}}:{{port.port}} {{port.protocol}}">
        {{endpoint.host}}:{{port.port}} {{port.protocol}}
      </div>
      <div class="internal-endpoint" title="{{endpoint.host}}:{{port.nodePort}} {{port.protocol}}">
        {{endpoint.host}}:{{port.nodePort}} {{port.protocol}}
      </div>
    </div>
  </div>
  <div *ngIf="endpoints.length === 0">-</div>
</div>
