@import '../../shared/var';

.config-data-section {
  margin-top: 12px;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  &__header {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 16px;
  }
  &__content {
    word-break: break-all;
    white-space: pre-wrap;
    border-left: 2px solid $color-primary;
    padding-left: 12px;
  }
}

.config-data__no-data {
  padding-top: 12px;
  font-size: 16px;
  font-weight: 500;
  color: $color-info;
}
