<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">{{ detail?.objectMeta.name }}</div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'namespace' | translate }}</div>
        <div class="alk-basic-info-field__content"><a [routerLink]="['/namespace/detail', { name: detail?.objectMeta.namespace }]">{{ detail?.objectMeta.namespace }}</a></div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'labels' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field (updated)="updated.emit($event)"
                                     [resource]="detail">
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'annotations' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field (updated)="updated.emit($event)"
                                          [resource]="detail">
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'created_at' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <alk-time [timestamp]="detail?.objectMeta.creationTimestamp" mode="absolute"></alk-time>
        </div>
      </div>
    </div>
  </div>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'data' | translate }}</div>

  <alk-configmap-data-viewer [data]="detail?.configData"></alk-configmap-data-viewer>
</aui-card>
