<form [formGroup]="form"
      auiForm
      auiFormLabelWidth="150px"
      [auiFormEmptyAddon]="true">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'namespace.resource_type' | translate }}
    </label>
    <aui-select auiFormItemControl
                required
                (blur)="onBlur()"
                formControlName="resourceType">
      <aui-option *ngFor="let type of resourceTypes; trackBy: trackByFn"
                  [label]="type | lowercase | translate"
                  [value]="type">
        {{ type | lowercase | translate }}
      </aui-option>
    </aui-select>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'namespace.resource_name' | translate }}
    </label>
    <aui-select auiFormItemControl
                required
                (blur)="onBlur()"
                formControlName="resourceName">
      <aui-option *ngFor="let name of resourceNames$ | async; trackBy: trackByFn"
                  [label]="name | lowercase | translate"
                  [value]="name">
        {{ name | lowercase | translate }}
      </aui-option>
    </aui-select>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'namespace.min' | translate }}
    </label>

    <input auiFormItemControl
           (blur)="onBlur()"
           formControlName="min"
           aui-input>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'namespace.max' | translate }}
    </label>

    <input auiFormItemControl
           (blur)="onBlur()"
           formControlName="max"
           aui-input>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'namespace.default_request' | translate }}
    </label>

    <input auiFormItemControl
           (blur)="onBlur()"
           formControlName="defaultRequest"
           aui-input>
  </aui-form-item>


  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'namespace.default_limit' | translate }}
    </label>

    <input auiFormItemControl
           (blur)="onBlur()"
           formControlName="default"
           aui-input>
  </aui-form-item>


  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'namespace.max_limit_request_ratio' | translate }}
    </label>

    <input auiFormItemControl
           (blur)="onBlur()"
           formControlName="maxLimitRequestRatio"
           aui-input>
  </aui-form-item>
</form>
