<span [auiTooltip]="warningTemplate"
      [auiTooltipType]="tooltipType"
      [auiTooltipDisabled]="!warnings.length">
<ng-container *ngIf="currentStatus">
  <alk-status-icon [status]="iconStatus">
  </alk-status-icon>
  {{ statusLabel | translate }}
</ng-container>
</span>

<ng-template #warningTemplate>
    <div *ngFor="let warning of warnings" class="warning-line">{{warning}} </div>
</ng-template>