<alk-array-form-table resourceName="pod_spec_form.key_to_path"
                      [noRowSeparator]="true"
                      (add)="add(form.length)"
                      (remove)="remove($event)"
                      [rows]="form.controls">
  <ng-container *alkArrayFormTableHeader>
    <th width="33%">{{ 'key' | translate }}</th>
    <th width="66%">{{ 'path' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *alkArrayFormTableRow="let control"
                [formGroup]="control">
    <td>
      <aui-select (blur)="onBlur()"
                  required
                  [filterable]="true"
                  formControlName="key">
        <aui-option *ngFor="let key of availableKeys"
                    [value]="key">
          {{ key }}
        </aui-option>
        <aui-option-placeholder>{{ 'no_data_hint' | translate }}</aui-option-placeholder>
      </aui-select>
    </td>

    <td>
      <input (blur)="onBlur()"
             aui-input
             required
             formControlName="path">
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *alkArrayFormTableRow="let control">
  </ng-container>
</alk-array-form-table>
