<div class="exec-button-trigger"
     [auiDropdown]="execMenu.menu"
     auiDropdownActive="action-button__active">
  <aui-icon icon="basic:window"></aui-icon>
  <div class="exec-button-trigger__text">EXEC</div>
</div>

<alk-container-selector-menu #execMenu
                             (containerSelect)="openTerminal($event)"
                             [resourceKind]="params.resourceKind"
                             [resourceName]="params.resourceName"
                             [namespace]="params.namespace">
</alk-container-selector-menu>
