<alk-array-form-table resourceName="node.taints"
                      [noRowSeparator]="true"
                      (add)="add(form.length)"
                      (remove)="remove($event)"
                      [rows]="form.controls">
  <ng-container *alkArrayFormTableHeader>
    <th width="30%">{{ 'key' | translate }}</th>
    <th width="30%">{{ 'value' | translate }}</th>
    <th width="40%">{{ 'status' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *alkArrayFormTableRow="let control"
                [formGroup]="control">
    <td>
      <input (blur)="onBlur()"
             aui-input
             required
             formControlName="key">
    </td>

    <td>
      <input (blur)="onBlur()"
             aui-input
             required
             formControlName="value">
    </td>
    <td>
      <aui-select (blur)="onBlur()"
                  required
                  formControlName="effect">
        <aui-option [value]="'NoSchedule'">NoSchedule</aui-option>
        <aui-option [value]="'PreferNoSchedule'">PreferNoSchedule</aui-option>
        <aui-option [value]="'NoExecute'">NoExecute</aui-option>
      </aui-select>
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *alkArrayFormTableRow="let control">
    <td *ngIf="control.invalid"
        colspan="3"
        class="alk-table-form-error-hint">
      <ng-container *ngIf="control.errors?.keyIsMissing">
        {{ 'key_is_missing_error_message' | translate }}
      </ng-container>

      <ng-container *ngIf="control.errors?.duplicateKey">
        {{ 'duplicate_key_error_message' | translate: {key: control?.errors?.duplicateKey} }}
      </ng-container>
    </td>
  </ng-container>
</alk-array-form-table>
