<ng-container *ngIf="configs && configs.length > 0">
  <div class="config-data-keys">
    <div class="config-data-keys__label"
         [alkTocLink]="config[0]"
         [for]="toc"
         *ngFor="let config of configs">
      <div class="config-data-keys__label-dot"></div>
      <div class="config-data-keys__label-key">{{ config[0] }}</div>
    </div>
  </div>

  <div class="config-data-values"
       alkTocContentsContainer
       #toc="toc-contents-container">
    <div class="config-data-section"
         [alkTocContent]="config[0]"
         *ngFor="let config of configs">
      <div class="config-data-section__header">
        {{ config[0] }}
      </div>
      <pre class="config-data-section__content">{{ config[1] }}</pre>
    </div>
  </div>
</ng-container>

<div *ngIf="configs.length === 0"
     resourceName="data"
     class="config-data-no-data">
  {{ 'no_data_hint' | translate }}
</div>
